[2015-09-24 18:06] psrivongse opened #1 "dialog-confirm / dialog-dismiss not working."
These to buttons do not seem to work. If I don't specify modal, I can click the overlay and it will get dismissed. I can create a simple paper-dialog and it works out fine with dialog-confirm/dialog-dismiss.

Polymer 1.1.3
paper-elements~1.0.5

[2015-09-25 08:11] motss commented on #1
Could you please further elaborate your issue? For dialogs, unless you specify the attribute `modal` clicking on the overlay and/ or buttons with `dialog-confirm` or `dialog-dismiss` will close the dialog. Only modal dialog requires you to perform an action to close the dialog.

[2015-10-30 01:39] motss commented on #1
Closing issue. Redesigning the element.

[2015-10-30 01:39] #1 closed

[2016-02-02 14:49] JockeCK opened #2 "Dependency on underscore missing?"
It seems you are depending on the library underscore for functions such as "_.isNumber".

However, there is no trace of this dependency in your code/json?

Personally I would love an solution that does not depend on underscore.
Like:
function isNumeric(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}
(example, just an quick google)
Since you at an glance don't seem to depend all that heavily

[2016-02-02 15:02] motss commented on #2
@JockeCK This might due to the fact that I'm a [Lodash](https://github.com/lodash/lodash) user. I always use the library with Polymer even though you can achieve something in Javascript without the need of Lodash just like what you mentioned earlier. Thus, instead of including the `<script src="../lodash/dist/lodash.min.js"></script>` inside the element, I think I should load the script at top lev

[2016-02-02 15:15] JockeCK commented on #2
Thank you for the quick explanation!

Got your component up and running after adding pathway to bower installation of lodash.

[2016-02-02 15:38] motss commented on #2
Cool!

[2016-02-12 10:16] zreptil1 opened #3 "underscore.js is needed"
took me a while to figure it out. there are some references to functions that start with "_." like _.isNumber(...) in the file jv-datepicker.html. it looks like there must be an import of underscore.js somewhere, but this file is not bundled with the deployment. after finding it in the web and adding it, the component works as expected.

[2016-02-12 10:56] motss commented on #3
@zreptil1 Duplicated issue. Please refer to #2. Thank you.

[2016-02-12 10:56] #3 closed

[2016-02-12 11:05] motss opened #4 "HTML import for Lodash"
To create a HTML import for Lodash instead of using `<script>` tag as Polymer won't be able to deduplicate duplicated `<script>` tags which is why loading Lodash's script at top-level document.

[2016-02-16 18:13] eddier opened #5 "Vulcanizing datepicker causes bug"
When you vulcanize the datepicker component the action attribute is rewritten which breaks the ability to go forward in the calendar.

We made a fix on our side to deal with it until Polymer updates Vulcanize.  If you want a PR for it I can send it over.

https://github.com/Polymer/vulcanize/issues/294

[2016-02-16 20:00] motss commented on #5
@eddier You're more than welcome to send in a PR. :smiley:

[2016-02-16 20:48] eddier commented on #5
sent https://github.com/motss/jv-datepicker/pull/6

[2016-02-25 10:43] FLamparski commented on #5
@motss Hi, when are you merging this?

[2016-02-25 10:51] motss commented on #5
@FLamparski I'm currently working on a few improvements alongside this patch. I can merge this first ATM.

[2016-02-25 13:51] #5 closed

[2016-02-29 20:19] motss commented on #4
No longer depend on Lodash. See commit 89777d38f287ef9571281c6a57d9bc04027543d9.

[2016-02-29 20:19] #4 closed

[2016-02-29 20:20] motss commented on #2
No longer depend on Lodash. See commit 89777d38f287ef9571281c6a57d9bc04027543d9.

[2016-02-29 20:20] #2 closed

[2016-03-11 09:45] FLamparski opened #7 "Setting datepicker.date from outside of the date picker dialog is ignored"
I want a combo date picker box: a datepicker-dialog that lets me pick the date from the calendar, and a text entry field for people who don't care for things like that and just want to enter a date from their keyboard. The problem is that what if they entered a date from the keyboard, but then want to correct it on the graphical picker?

At the moment, it's not possible to do so because setting `d

[2016-03-12 06:41] motss commented on #7
@FLamparski It's because the `date` is designed to just read data from the selected date from the datepicker. I will work on this to allow user to change the `date` from the external so that the result will reflect on the datepicker.

[2016-03-13 10:15] motss commented on #7
@FLamparski Please check the demo and see if the new implementation is what you have been looking for.

[2016-03-13 10:17] motss commented on #7
@FLamparski I've update the demo page with the newly added `inputDate` property which can allow you to change the date without selecting any date on the datepicker. Just type the date at the `paper-input right below the datepicker and see the result.

[2016-04-01 14:01] ArthurJahn opened #8 "Change component locale"
Is there any way to change the locale of the component?

[2016-04-02 03:01] motss commented on #8
@ArthurJahn Sorry, currently not supported. It's open to suggestions and PR for this enhancement. :smile:

[2016-04-11 21:48] MohammedTaha opened #9 "Integration with Angular 2: datepicker not closing after button is clicked"
Hi there, thank you for developing such a nice component. I'm using **jv-datepicker-dialog**, can you please help me (update readme in this case will be a much better option) that how can I define a click handler on *Ok* and *Cancel* button.

Looking forward to get a helping answer.
Thank you so very much,
Regards.

[2016-04-12 13:25] motss commented on #9
@MohammedTaha Did you mean that you want to override the click handler on those buttons?

[2016-04-12 13:41] MohammedTaha commented on #9
@motss yeah, I actually want to override the click handlers.

[2016-04-12 15:30] motss commented on #9
@MohammedTaha Is there any reason you want to do that?

[2016-04-12 19:15] MohammedTaha commented on #9
@motss I'm using this component in an angular2 App. Now its my need to get the date out of datepicker component so that I may use the selected date in my model. Furthermore, the datepicker opens due to the text field which is inside paper-dialog. Now the dismiss-dialog isn't working as it should. May be the overlay on another overlay is root of the evil.

[2016-04-13 04:45] motss commented on #9
@MohammedTaha Wow, it sounds cool. You're using Polymer + Angular2?

Just to confirm from this bit of info, once a user click on the text field, it will trigger the datepicker to open and the text field itself is inside a `paper-dialog` (is it a fullscreen dialog?)

At this point, the datepicker is not closing once you click on the buttons. Am I right?
How about the selected date? Were you able to

[2016-04-13 07:45] MohammedTaha commented on #9
@motss, yes, I am trying to develop an application using Polymer with angular 2.

Yeah, I caught the focus event of a text filed and called the .open() of datepicker. This datepicker and the paper-dialog are siblings to each other and the dialog isn't a full screen element.

Yeah you are right, the datepicker in not closing once I click on any of those supplied buttons neither I am able to get mov

[2016-04-13 08:18] motss commented on #9
@MohammedTaha I'm not familiar with the integration of Polymer with Angular 2. But I'm always here to help you sorted out the issue as I'm not sure if that really the problem of the datepicker.

Is there any way that you're able to listen to events fired by the datepicker in Angular 2? If can, can you listen to the property `date` as the property has `notify: true` which will fire an event for a v

[2016-04-13 08:19] motss commented on #7
@FLamparski Closing this and feel free to reopen if the issue still persists.

[2016-04-13 08:19] #7 closed

[2016-04-13 08:23] motss opened #10 "Any suggestions for enhancement?"
Feel free to leave comments down here for any suggestions to enhance this element.

[2016-04-13 08:31] MohammedTaha commented on #9
@motss, thanks dear. Will let you know in a while :)

[2016-04-16 15:40] nicholaswmin opened #11 "Styling font-size of clickable dates"
Is there any way to change the font-size of the dates?
I've seen there's a bunch of styling properties but they all seem to deal with colors.

I'm talking about these date `div`s:

![screen shot 2016-04-16 at 18 38 02](https://cloud.githubusercontent.com/assets/3926463/14581925/9fd01172-0402-11e6-8007-a973a135a8c0.png)

[2016-04-16 18:41] motss commented on #11
@nicholaswmin This can be fixed. A custom property can be added. By the way, what font size do you think it's more suitable (Might consider changing it to default font size)?

[2016-04-16 19:03] nicholaswmin commented on #11
@motss I'd say at least 14px - Wondering what the Material Design guidelines are on this.

[2016-04-17 08:05] motss commented on #11
Since most of the things in Polymer use `px` I would say keep using `px` for now and I'm not sure how `em` would affect the overall visual experience.

Other than that, working on the font size issue you pointed out. Like I said, feel free to open issue or discuss about things you would like to see to improve this element. :smile:

[2016-04-17 08:24] motss commented on #11
@nicholaswmin Would you mind help me picking one that looks better than the current one?
I personally prefer 2.

1. <image src="https://cloud.githubusercontent.com/assets/10607759/14585866/d83c5a1a-04b7-11e6-97ca-0e4a1cf16edc.png" alt=""></image>
2. ![datepicker-px-font-size](https://cloud.githubusercontent.com/assets/10607759/14585867/d83d1eb4-04b7-11e6-950a-356c6912dca4.png)
3. ![datepicker-px-f

[2016-04-17 17:50] nicholaswmin commented on #11
now and I'm not sure how em would affect the overall visual experience.

Makes sense:)

2 is my choice as well.

[2016-04-18 05:56] motss commented on #11
@nicholaswmin Thanks. The fix is OTW.

[2016-04-18 11:40] nicholaswmin commented on #10
Another one:

- The month switch animations make month-switching UX slow. Some people just frantically press "prev/next" to switch to the month they want.
- The animations make this kind of clunky. Each animation needs to finish before the next tap/click on "prev/next" can take place.

Is there any way to keep animations and still allow the user to speedily switch months?

Personally I'd do this:

[2016-04-18 11:54] nicholaswmin opened #12 "Consider debouncing the month-switching animations"
- The month-switching animations make month-switching UX slow. Most people just frantically tap/click "prev/next" to switch to the month they want.
- The animations make this kind of clunky. Each animation cycle needs to finish before the next tap/click on "prev/next" can take place.

Personally I'd do this:

- The animation could take place 150ms (could be a user specified custom prop) after the

[2016-04-18 12:25] #11 closed

[2016-04-18 12:54] motss commented on #9
@MohammedTaha Closing this and feel free to reopen.

[2016-04-18 12:54] #9 closed

[2016-04-18 13:25] nicholaswmin commented on #11
Any ETA on a release for this?

I'm on bower.

[2016-04-18 13:45] motss commented on #11
@nicholaswmin I'll release it the next day.

[2016-04-18 13:47] motss commented on #12
@nicholaswmin Looking forward to your PR. :+1:

[2016-04-19 06:39] motss commented on #12
@nicholaswmin Released 14d572f170f95fbec0df5547b9f246758edd06c5

[2016-05-10 09:46] motss commented on #8
Fixed with 0d851dd and 7b18c9c.

[2016-05-10 09:46] #8 closed

[2016-06-09 14:13] #12 closed

[2016-06-09 14:40] motss opened #13 "Improve accessibility"
- [x] Select year with keyboard at list view with `enter`, `arrow-up` and `arrow-down`
- [x] Auto focus on selected year at list view
- [x] Restore focus on list view closed.
- [x] Selectable dates are focusable with `tab`
- [x] Disabled days / grayed out dates are not selectable with keyboard at all.
- [x] Make dialog modal to trap all focus.
- [x] New accessibility guideline for datepicker: http

[2016-06-10 12:10] motss opened #14 "show long date with wrong locale"

[2016-06-10 12:11] motss opened #15 "selected date overflows when date is too long"

[2016-06-10 12:12] #14 closed

[2016-06-10 12:14] #15 closed

[2016-06-13 13:15] olegomon opened #16 "min-date is not working"
When setting the min-date property then it is not reflected in the date picker element and all dates before the min date are still selectable. Inside the date picker demo it is possible to change the min date but it is not reflected in the date picker.

[2016-06-13 13:19] olegomon commented on #16
Here is a fix to address the issue. If you think it is ok then please accept the pull request.
[https://github.com/motss/app-datepicker/pull/17](url)

Thanks

[2016-06-13 15:04] #16 closed

[2016-06-15 06:44] kladanyi opened #18 "Custom properties for date hover styling"
All colors have custom property except these.

[2016-06-15 08:05] motss commented on #18
@kladanyi Nice catch. Working in progress.

[2016-06-15 11:27] #18 closed

[2016-06-20 06:53] bohdaq opened #19 "Bower not resolving app-datepicker"
<img width="738" alt="screen shot 2016-06-20 at 9 52 37 am" src="https://cloud.githubusercontent.com/assets/1307140/16185468/d03dff0c-36cc-11e6-876e-24e8610ae0e7.png">

[2016-06-20 07:19] motss commented on #19
@bohdaq Should be fixed. Please try again.

[2016-06-21 11:08] #19 closed

[2016-06-22 07:24] motss opened #21 "Add new property to toggle between automatically updating selected date"
Proposed by #20:

- [ ] To add new property to allow datepicker to update selected date directly on changes when it is not inside an overlay/ dialog.

[2016-06-22 07:57] HaykoKoryun opened #23 "'iron-iconset-svg' dependency missing from bower.json"
`iron-iconset-svg` is a dependency of `app-datepicker` but it's missing from `bower.json`.

[2016-06-22 08:14] HaykoKoryun opened #24 "year dropdown colors in dark and google theme are hard to read"
The year dropdown colors are a bit hard to read in the Dark and Google themes, as seen below:
![image](https://cloud.githubusercontent.com/assets/2579764/16259229/a858c7ea-3872-11e6-8329-985ab7c0cac5.png)
![image](https://cloud.githubusercontent.com/assets/2579764/16259209/9904136c-3872-11e6-8cb1-36dead530300.png)

A suggestion would be to make the highlighted year black like in the Light theme.

[2016-06-23 08:05] #23 closed

[2016-06-23 09:36] #24 closed

[2016-06-23 09:37] #21 closed

[2016-06-27 14:23] nocquidant opened #26 "Set the date programmatically?"
Thank you for your component.

I can't manage to set the date of the app-datepicker programmatically (I must say I'm not sure of the differences between `date` and `inputDate`).

Here is my code.

[code]

[code]

Thanks
--nick

[2016-06-27 14:30] nocquidant commented on #26
![image](https://cloud.githubusercontent.com/assets/217054/16383214/7cbde3ca-3c84-11e6-9281-6e48cd744fe0.png)

[2016-06-27 15:05] motss commented on #26
@nocquidant Thank you for using this element. Hope you find it useful.

The difference of `input-date` and `date` is that when creating the element there is any issue of input-ing `date` with long date eg. `Fri, May 12 2017`. Therefore, `input-date` is created just to receive input from the outside world whereas the `date` is a `read-only` property which means that you can only read output but can

[2016-06-27 15:05] motss commented on #26
@nocquidant Hope it helped. Feel free to ask or open issue you find anything blurry from the given docs.

[2016-06-30 04:59] motss opened #27 "To make test green again"
- Use `firefox: 46.0` in `.travis.yml` for tetsing.
- Fix test to make it green again.

[2016-06-30 05:45] #27 closed

[2016-06-30 10:27] olegomon opened #28 "Date should not register known neon animation names"
In the latest release 2.7.0 there are some animation elements registered in [https://github.com/motss/app-datepicker/blob/master/app-datepicker-animations.html](https://github.com/motss/app-datepicker/blob/master/app-datepicker-animations.html)

- fade-in-animation
- fade-out-animation
- slide-from-left-animation
- slide-from-right-animation

If one of the elements inside the main application has

[2016-06-30 13:16] motss commented on #28
@olegomon No specific reason. Will get it fixed ASAP.

[2016-06-30 13:25] #28 closed

[2016-07-04 11:42] nocquidant commented on #26
I still cannot get it work. According to me, the issue is in `_updateToReflectExternalChange` method.

 I had to do the following change in order to use it in french (see comment):

[code]

For me, the *format* should be checked here, but not the *locale* (I want the message in french, but I still use the format yyyy/mm/dd).

![image](https://cloud.githubusercontent.com/assets/217054/16559383/cef8

[2016-07-04 12:48] motss commented on #26
@nocquidant Did you pass in a short date (`2016/07/04`) or a long date (Mon, Jul 4, 2016) to the `inputDate` property?

[2016-07-04 12:56] motss opened #31 "To fix Intl polyfill loading on Safari"

[2016-07-04 13:01] nocquidant commented on #26
I pass a short date.

Le lun. 4 juil. 2016 à 14:48, Rong Sen Ng <notifications@github.com> a
écrit :

[2016-07-04 13:01] #31 closed

[2016-07-04 14:18] motss commented on #26
@nocquidant If the value received by the `inputDate` is a short date in the format of `yyyy/mm/dd`, it should work. However, to simplify input date with all kinds of languages, feeding long formatted date into the `inputDate` has been limited to only the language `en` and not other languages which in your case french.

[2016-07-04 20:34] nocquidant commented on #26
OK, I made a "simple app" here: https://github.com/nocquidant/polymerex, based on the Polymer drawer template.

In order not to have the datepicker dialog behind the left navigation menu on small devices (see https://github.com/PolymerElements/iron-overlay-behavior/pull/155), I use the following trick:  `my-app.html` references my `date-picker-dialog` and each page can fire an event in order to op

[2016-07-04 20:37] nocquidant commented on #26
PS. Most of the code is in: `src/dialogs/date-picker-dialog.html`

[2016-07-05 04:26] motss commented on #26
@nocquidant It's great! I'll look into it and get back to you soon.

[2016-07-05 05:06] motss opened #32 "Unable to update inputDate for other locale"
Due to limitation of input date received by platform's `Date`, `inputDate` was designed to only be able to accept inputs for the followings:
- short date for all locales in the format of `yyyy/mm/dd` or `yyyy/d/m` eg. `2016/06/06`.
- long formatted date for `en` and `en-*` locale **ONLY** eg. `Tue, Jul 5, 2016`.

An issue was found in #26 that the datepicker rejects to update to correct input date

[2016-07-05 05:09] motss commented on #26
@nocquidant The issue is confirmed and working on a fix. There are also some problem in your code provided. I will post a proper solution to your case or maybe file a PR to your Github repo so that you know where should be changed. Stay tuned. :smile:

[2016-07-05 05:14] #26 closed

[2016-07-05 05:14] #32 closed

[2016-07-05 07:17] nocquidant commented on #26
Many thanks. It is fine now.

[2016-07-05 11:20] nocquidant opened #33 "Help with CSS"
Could you please tell me what is the CSS property to set to have a nice looking selected day (see image).

Thanks
-- nick

![image](https://cloud.githubusercontent.com/assets/217054/16583050/2ef1af0c-42b3-11e6-9a9a-745cf253d66b.png)

[2016-07-05 11:29] motss commented on #33
[code]

[2016-07-05 11:33] nocquidant commented on #33
Actually I don't not need a yellow color :) The computed height is not right : the 2 lines overlaps ("dim. 5" and "juin").

[2016-07-05 11:42] motss commented on #33
@nocquidant What browser you're on seeing this problem?

[2016-07-05 11:45] nocquidant commented on #33
On Chrome and FF. Your demo looks good so it is probably one of my style rules...

[2016-07-05 11:46] motss commented on #33
@nocquidant I thought so. I don't see any issue only current styling. You can try `line-height` for a little adjustment.

[code]

[2016-07-05 11:52] nocquidant commented on #33
OK it is much better. Thanks

Le mar. 5 juil. 2016 à 13:46, Rong Sen Ng <notifications@github.com> a
écrit :

[2016-07-05 12:40] #33 closed

[2016-07-06 09:16] nika-begiashvili commented on #10
format mm.dd.yyyy doesn't work

[2016-07-13 15:45] darwinserrano opened #34 "Character cause error when compiling projects"
Hi.

I've been using this extension and compile the project to get errors. I could see that the problem is in the "demo/index.html" file, because there is a zero in the air within a style class, on line 170.

`
.locale_example {
        text-align: left;
        padding: 8px; 0
      }
`

Can you fix this? Please.

Regards

[2016-07-13 16:24] motss commented on #34
@darwinserrano Mind submitting a PR for fix that?

[2016-07-18 07:31] nicholaswmin opened #35 "There is a stray console.log() in production code"
This piece of code `console.logs()`  for no apparent reason and seems to be a stray "leftover"

[code]

@ `app-datepicker.html - line 1029`

[2016-07-18 15:15] motss commented on #35
@nicholaswmin Thanks for the issue. Mind submitting a PR to fix that?

[2016-07-18 17:44] nicholaswmin commented on #35
@motss coming right up

[2016-07-18 17:53] nicholaswmin commented on #35
@motss Is there a mismatch between what's at #master branch and what's published in bower or was this fixed?

[2016-07-18 18:00] nicholaswmin commented on #35
Fixed in 8239a20bc388b1c4baf3e8dbd9ce16707c8222c2 - Closing

[2016-07-18 18:00] #35 closed

[2016-07-22 07:56] motss commented on #10
@nika-begiashvili Please file the issue with description.

[2016-07-22 08:23] #34 closed

[2016-07-26 09:15] nika-begiashvili commented on #10
maybe include time picking feature ?

[2016-08-02 14:38] web-padawan commented on #10
@motss demo seems to be broken in Safari 9. PTAL.

I also recommend refactor using `importHref` to load polyfills. Current behavior can be broken on vulcanized app.

[2016-08-02 15:24] motss commented on #10
@web-padawan Please file an issue with description of the problem. What kind of error message you receive that makes the demo seems broken in Safari 9?

[2016-08-03 07:56] gusdecool opened #36 "datepicker `date` not working"
Tested with this code:

`<app-datepicker-dialog id="endDatePicker" date="2017/05/17" with-backdrop entry-animation="datepicker-slide-from-bottom-animation" exit-animation="datepicker-slide-from-top-animation"></app-datepicker-dialog>`

notice that date is set `2017/05/17` but when the dialog opened it still show today date. e.g: 2016/08/03

How come?

[2016-08-03 08:11] motss commented on #36
@gusdecool `input-date` is the right property for you to set a date while `date` is the output date when you select a date from the datepicker.

[code]

[2016-08-03 09:05] gusdecool commented on #36
Thanks @motss will try it again tomorrow and back to you 👍

[2016-08-03 09:15] motss commented on #36
@gusdecool just let me know if that solved that problem.

[2016-08-04 03:45] gusdecool commented on #36
@motss the solution didn't work.

scenario: i want to use datepicker with date that i have from polymer properties as the input date and this property will changed based on your datepicker

here is the code:

[code]

[code]

- After the page loaded, i can see paper-button showing `2016/12/01` which is correct.
- Then click the button and dialog opeened it still using today date `2016/08/04`
- The

[2016-08-04 07:23] motss opened #37 "only set new date when loading Intl polyfill on Safari"
Current version set `_selectedDate` twice on initialization:
- when initializing the element.
- on `ready` callback after `Intl` polyfill for Safari (which is not needed and only required for polyfill)

[2016-08-04 07:24] motss commented on #37
Found such issue no #36

[2016-08-04 07:26] #37 closed

[2016-08-04 07:29] motss commented on #36
@gusdecool The element works fine just that your code is a bit wrong here and there. After deep investigation to your issue, I found that the code you provided are wrong in the syntax and had no idea it works for you (sometimes) and also discovered a small issue while looking into this matter. I already patched it and it worked for your case after that. I will post a demo to show you how to achiev

[2016-08-04 07:30] motss commented on #36
@gusdecool Thanks for the use case that I managed to discover bug and got it patched. :+1:

[2016-08-04 07:42] motss commented on #36
Working demo for your use case: http://jsbin.com/xenanotesa/edit?html,output

[2016-08-05 01:07] gusdecool commented on #36
nice it's work now, thanks for the demo 👍

[2016-08-05 01:07] #36 closed

[2016-08-07 13:01] pavel opened #38 "Code typo"
Seems like [this line](https://github.com/motss/app-datepicker/blob/master/app-datepicker.html#L786) has a typo: `this.loocale` should probably be `this.locale`.

[2016-08-07 13:56] motss commented on #38
@pavel Thanks for reporting.

[2016-08-07 14:04] pavel commented on #38
You're welcome.

[2016-08-18 00:41] derooy commented on #10
Is date range selection beyond what you imagine for your component?

[2016-08-21 15:29] motss commented on #10
@derooy Do you mind opening a issue for that as feature request? It's a good-to-have feature.  Hope you can be one of the contributors working on implementing this feature or providing feedbacks on the feature.

[2016-08-22 05:06] motss opened #39 "Broken demo on safari."

[2016-08-22 14:32] motss opened #40 "datepicker completely broken on Safari below v10.x.x"
Completely broken due to lack native support of `Intl` by the browser.

[2016-08-22 14:47] #39 closed

[2016-08-22 14:47] #40 closed

[2016-08-22 15:04] motss commented on #10
@web-padawan Just a quick update. The issue has been fixed on Safari 9.x.

[2016-08-23 01:18] motss opened #41 "To include fallback language for language that may not be supported in Intl"

[2016-09-08 04:08] nick-woodward commented on #10
@motss How about the ability to specify a list of invalid/valid dates?

[2016-09-08 04:57] motss commented on #10
@nick-woodward A list of invalid/ valid dates? Not get it still.

On Thu, 8 Sep 2016 at 12:08 Nick Woodward <notifications@github.com> wrote:

[2016-09-08 05:06] nick-woodward commented on #10
Essentially the same concept that you have with "disableDays", but at a date-level, rather then day of the week.

[2016-09-08 05:29] motss commented on #10
I kind of get it but the user should input valid date and not to rely on a
datepicker to tell that the input date is not valid.

On Thu, 8 Sep 2016 at 13:06 Nick Woodward <notifications@github.com> wrote:

[2016-09-08 06:12] nick-woodward commented on #10
Purposely allowing a user the ability to do something incorrectly when you can prevent it doesn't really make sense.

**I'm going to walk through a bit of our app to give you an idea of what our use-case is**

**We have the user specify a date-range at a higher level that then determines the days a conference can take place. As you're well aware `app-datepicker` supports min and max dates**

![ima

[2016-09-09 10:35] motss opened #42 "To make the status green on Safari 9 for iOS and Mac"

[2016-09-09 10:37] motss opened #43 "To support disableDates"
*(Proposed by @nick-woodward)*

To add new property `disableDates` to disable defined dates on the datepicker.

[2016-09-09 10:39] motss commented on #10
@nick-woodward Now I just figured it out what you're trying to convey. It's definitely a fantastic idea. I totes agree with this suggestion. Please open an issue as a feature request before proceeding to any PR (if you want to). Once again, thank you very much for suggesting this proposal.

*PS: What a nice piece of work you have there! Is it publicly accessible?*

[2016-09-09 10:42] motss opened #44 "Who's using app-datepicker"
Hey folks, may I include your amazing work under a section named `Who's using app-datepicker` that I'm going to add in the `README`?

Kindly leave your project name and URL (if you don't mind) and I'll include them.

Thank you.

[2016-09-09 14:36] nick-woodward commented on #10
Not at the moment, it was a quick datepicker I hacked together when I was using Angular Material.
It isn't quite as nice as yours since it doesn't animate and there isn't an area to select a year. (i.e. click the year and it brings up the list of possible years)

[2016-09-14 16:04] dmb1987 opened #46 "Can't select dates on open dialog"
hello, trying to implement a demo "bind-date-to-input-date" , this happens when you open the dialog to select a date , I can not select anything , please help!
thank you very much.
![captura de pantalla de 2016-09-14 13-01-23](https://cloud.githubusercontent.com/assets/15080749/18519814/8dec2c38-7aa5-11e6-82fc-8a7b2f398be8.png)

[2016-09-14 16:16] motss commented on #46
@dmb1987 This kind of issue most likely comes from your code and it has nothing to do with the element. Please provide your code for help of debugging.

[2016-09-14 16:22] dmb1987 commented on #46
<template>

    <form is="iron-form" method="post" action="/submit.php" id="formExample">

        <bind-date-to-input-date></bind-date-to-input-date>

        <paper-input char-counter error-message="{{error_username}}" name="username" value="{{username}}" label="Username" maxlength="25" required></paper-input>
        <br>

        <paper-dropdown-menu label="Cars" name="cars" required>

[2016-09-14 16:22] dmb1987 commented on #46
i included

<link rel="import" href="../bower_components/app-datepicker/app-datepicker.html">
<link rel="import" href="../bower_components/app-datepicker/app-datepicker-dialog.html">
<link rel="import" href="../bower_components/app-datepicker/demo/bind-date-to-input-date.html">

[2016-09-14 16:26] motss commented on #46
@dmb1987 I don't think you can put `<bind-date-to-input-date>` right into a `form` element.

[2016-09-14 16:44] dmb1987 commented on #46
it is the same doing it this way

`<paper-button raised on-tap="openDialog">Datepicker Dialog</paper-button>
            <paper-button disabled>[[dynamicDate]]</paper-button>
            <app-datepicker-dialog id="datepicker" with-backdrop theme="[[theme]]" view="{{view}}" first-day-of-week="[[firstDayOfWeek]]" disable-days="[[disableDays]]" min-date="[[minDate]]" max-date="[[maxDate]]" format="[[

[2016-09-14 17:05] #46 closed

[2016-09-15 13:19] #43 closed

[2016-09-15 14:57] motss opened #47 "To support Polymer v2.0"
The release of Polymer v2.0 is imminent and the Polymer teams are working extremely hard to port over existing Polymer 1.x elements to v2.0.

This element has no doubt must be part of the upgrade. We will provide support once Polymer v2.0  is officially released to the public.

Can't wait to see how things work with the latest web platforms in the year of 2016 and yeah Polymer and Web Components F

[2016-09-15 15:02] motss opened #48 "To update browser compatibility chart"

[2016-09-16 06:32] aneesshameed commented on #44
I am using it in google app engine php project and also on google app script project.
![untitled](https://cloud.githubusercontent.com/assets/12719773/18577192/54b81858-7c05-11e6-96cf-862bab2a4047.jpg)

[2016-09-16 06:40] motss commented on #44
@aneesshameed Is it a public project which can be accessible from the Internet? What's the project name and URL?

[2016-09-16 08:06] aneesshameed commented on #44
Opps, both are not public projects.

[2016-09-22 05:08] srk289 opened #49 "Cant get this to work at all"
I am not sure if its just me but I cant get this to work at all. Downloaded through bower, linked all good and when I add &lt;app-datepicker-dialog&gt;&lt;/app-datepicker-dialog&gt; nothing appears.

when I inspect the DOM for app-datepicker, looks like its loading but nothing appears on the screen. No console errors either. Any one else had this issue?

[2016-09-22 06:07] motss commented on #49
@srk289 Please show your reduced test case to ease debugging.

[2016-09-22 06:28] srk289 commented on #49
[test.zip](https://github.com/motss/app-datepicker/files/486600/test.zip)
added my test files.

[2016-09-22 07:07] motss commented on #49
@srk289 Ok. You misunderstood how a dialog works. You need to trigger a dialog to open or it will be hidden forever.

You can open a datepicker dialog from a button for instance. See the example code below to get a better understanding on how to do it in Polymer way.

[code]

[code]

[2016-09-22 23:13] nick-woodward opened #50 "Add `disable-dates` to `app-datepicker-dialog`"
### Description

`app-datepicker` has a property called `disable-dates` however `app-datepicker-dialog` doesn't have a passthrough property.

[2016-09-22 23:27] nick-woodward opened #51 "An error is thrown when `disableDates` is null"
### Description

app-datepicker throws the following error when `disableDates` is null.
`Uncaught TypeError: Cannot read property 'some' of null`

### Example
[Live Demo](http://jsbin.com/lofusi/1/edit?html,output)

[2016-09-23 01:48] motss commented on #49
Closing this issue as it's not the problem from the element.

[2016-09-23 01:48] #49 closed

[2016-09-23 03:25] srk289 commented on #49
Thanks @motss You are right. Stupid question.  Appreciate your prompt response

[2016-09-23 13:34] #50 closed

[2016-09-23 13:34] #51 closed

[2016-09-26 02:07] srk289 opened #53 "Date format"
Hi @motss
Would be great to be able to switch date formats (dd/mm/yyyy)

[2016-09-26 02:38] motss commented on #53
@srk289 It can be changed via the property `format`. However, just tested it with the `format` and found a bug. Will get it fixed ASAP.

[2016-09-26 02:40] motss opened #54 "To fix format"
## Description

From #53, a bug was found when changing the default value of `format`, vix. `yyyy/mm/dd` to value like `dd/mm/yyyy` will render the `date` go haywire.
## Step to reproduce

[Live demo](http://jsbin.com/foliwulaje/1/edit?html,output)

[2016-10-03 17:41] rmgalante opened #55 "Bug: auto-update-date format='yyyy-mm-dd' on-date-changed"
I initialize the input-date to today's date. The element shows the correct date. I click the next month button until I reach October of next year. I choose October 2. The event handler, onDateChanged, shows e.detail.value = '2016-10-02'. But I'm in the year, 2017. It should show '2017-10-02'.

This only happens the first time you click a day in the month of the next year. After that, it works and

[2016-10-08 15:05] JunedS opened #56 "Integration with Angular 2"
Hi,

First of all this is awesome date picket, keep up the good work!
I am trying to integrate app datepicker with angular 2 using vaadin angular2-polymer directive.
date picker works but I cant get some of the things to work like min-date, max-date, theme and view all works dynamically but cant get input-date, on-date-changed to work. below is the code

<app-datepicker view="vertical" [inputDate]

[2016-10-08 16:40] motss commented on #56
@JunedS It would be nice if you could use `jsbin.com` or some sort to create a reduced test case for your issue.

[2016-10-10 10:09] n8m opened #57 "Some years are selected incorrectly"
Hi. Steps to reproduce:
1. Click on 'year' to select year and choose any year less than 2011
2. You can see that on left side there's 2010 year selected -> weekday and month no more match on the left and right sides on datepicker.

It's reproducing in Chrome and not reproducing in Firefox.
Sorry for Russian locality in attached image

![issue](https://cloud.githubusercontent.com/assets/4228383/192

[2016-10-10 12:53] motss commented on #57
@n8m Thanks for reporting. Working on a fix.

[2016-10-10 13:25] gillesgw opened #58 "app-datepicker seems to be broken on safari / ios-safari"
Even the demo doesn't work on OSX Safari 9.0.3 with app-datepicker 2.8.1. Any clue ?

[2016-10-18 08:08] panuhorsmalahti opened #59 "Add app-datepicker-dialog documentation"
There should be a separate API documentation for this element. This would consist of basically adding documentation (or just links to) for Polymer.PaperDialogBehavior Polymer.NeonAnimationRunnerBehavior.

[2016-10-18 08:35] panuhorsmalahti opened #60 "Add customizable ok and cancel texts"
These texts are currently hardcoded. They should be customizable to allow localization of the component.

[2016-10-18 10:55] panuhorsmalahti opened #62 "--app-datepicker-selected-year-color not working"
Hi, it doesn't seem like `--app-datepicker-selected-year-color` is working when a theme is not used. Also, the same seems to apply to `--app-datepicker-selected-year-bg`.

I believe  the reason is that these variables are not used here:
https://github.com/motss/app-datepicker/blob/master/app-datepicker.html#L304

They probably work with a theme (I haven't tested this, though):
https://github.com/m

[2016-10-18 11:17] panuhorsmalahti opened #63 "Not all years are displayed in the initial rendering in Firefox"
When the year selector is opened for the first time, only years up to 2016 are displayed. If the year is selected and opened again all the years are correctly displayed.

My initial guess is that it's somehow related to iron-list not picking up the proper size of the parent element. Note: if I close the inspector window all the years appear, probably due to the iron-list noticing a resize event /

[2016-10-18 11:25] panuhorsmalahti commented on #54
Side note: it would be nice to just get `Date` values out of the component. At the moment I need to "manually" parse the date string and convert to `Date`. It's also unclear to me if or how the component supports the ISO format for dates, which would make it easy to convert it back to a `Date` value.

[2016-10-18 11:29] panuhorsmalahti commented on #10
I think the `autoUpdateDate` attribute should be on by default, it's a typical use scenario. It took at least me a while to understand why the data binding didn't work. The user can actually use `[[ ]]` syntax for one-way data binding if they want to, or `{{ }}` for two-way data binding, which makes this attribute unnecessary.

[2016-10-18 12:14] motss commented on #60
@panuhorsmalahti It's a good to have thing. Will be added.

[2016-10-18 12:15] motss commented on #59
@panuhorsmalahti This makes sense for better usage on the dialog as I've seen a lot of users not aware of the dialog.

[2016-10-18 12:31] motss commented on #10
@panuhorsmalahti By default, `app-datepicker` needs buttons to confirm on selected date change. Let say `app-datepicker` was put into a dialog, the selected date should be updated only when the user click on the confirm button within the dialog. If `autoUpdateDate` was enabled by default, this would always update and fire when the selected date changes. Of course, you can say that let's turn it of

[2016-10-18 12:44] panuhorsmalahti commented on #10
Ah, that makes sense, I was only thinking about the dialog use case.

[2016-10-18 12:55] #60 closed

[2016-10-18 14:03] panuhorsmalahti opened #64 "Support for displaying week numbers"
I think it would be useful to offer an option for displaying week numbers. I'll start working on a PR. I'll use ISO-8601 week numbering and add an option for displaying them (and by default week numbers won't be displayed).

[2016-10-18 14:10] motss commented on #64
@panuhorsmalahti This might be helpful. Feel free to take a peek. https://gist.github.com/motss/627f95897fe4c926c158

[2016-10-18 14:19] panuhorsmalahti commented on #64
Thanks, you have nice bag of tricks :)

[2016-10-20 17:44] rmgalante commented on #55
I would like to clarify the problem I see. I've been debugging this and here is what I found. I put some debugging statements in the event handler for the event, date-changed.

I load the page, and the console log shows 2016-10-20.

I change the month from October of 2016 to October of 2017 by clicking the right arrow in the upper right corner until the month of October is shown (same month next y

[2016-10-20 18:04] motss commented on #55
@rmgalante Issue confirmed. A patch is in progress. Thank you for reporting.

[2016-10-20 18:35] motss commented on #57
`iron-list` is the culprit.

[2016-10-21 12:29] motss commented on #63
@panuhorsmalahti Please state the FF and OS version that produces this problem. Tested on Windows 10 x64 FF 49.0.2 and couldn't reproduce.

[2016-10-21 12:45] panuhorsmalahti commented on #63
I'm testing on Mac OS X El Capitan and Firefox 49.0.2.

[2016-10-21 13:13] motss commented on #62
@panuhorsmalahti The issue is confirmed. The patch is on its way with various fixes for some other issues.

Just a little update to the fix for this matter:

[code]

[2016-10-24 03:31] motss commented on #63
@panuhorsmalahti Tested on FF 49.0.2 on macOS Sierra but couldn't reproduce the issue. Any special steps to reproduce?

[2016-10-24 09:03] panuhorsmalahti commented on #63
Hmm, I can't reproduce this in jsfiddle ( https://jsfiddle.net/2q3fqehz/84/embedded/result/ ). I also noticed that if I call `window.wrap($0).fire('iron-resize');` after opening the year selection all the years become visible.

[2016-10-24 09:11] motss commented on #63
@panuhorsmalahti Hmm...a `fire('iron-resize')`seems fine for me. It's expected to run slow on unsupported browsers like FF as everything is still polyfill. However I still can't reproduce it.

[2016-10-24 10:01] panuhorsmalahti commented on #63
Argh, I didn't know GitHub spams this issue even from forks. I'm still testing a fix, disregard those for now.

[2016-10-24 10:36] panuhorsmalahti commented on #63
New clue: I can't reproduce this if I have animations enabled (by not using no-animation attribute).

[2016-11-03 11:51] rip-the-jacker opened #67 "Days of week are coming in random order"
The days of the week in datepicker dialog which should ideally be **'S M T W T F S'** is showing up as **'S F T F S S M'**

![app-datepicker](https://cloud.githubusercontent.com/assets/3167295/19964777/bbb39be0-a1e9-11e6-8d96-a8f967a2023c.png)

But on selecting the date, the proper day of the week is selected.

[2016-11-03 12:07] motss commented on #67
@rip-the-jacker This is confirmed. A patch is in progress. New release might come this weekend or so.

[2016-11-05 07:22] #67 closed

[2016-11-05 07:27] rip-the-jacker commented on #67
@motss @sp1rs Thank you guys.

[2016-11-05 07:46] rip-the-jacker commented on #67
@motss Can I update this using bower?

[2016-11-05 09:54] motss opened #69 "[STANDARDIZATION] To output valid date with valid format using Intl."
In `app-datepicker@2.x`, `format` can be defined by the user as well as the symbols instead of slashes in between the dates. However, it could produce strange date, eg.

[code]

In `app-datepicker@3.x`, this will be solved by standardizing the output date with the given format passed in to the property `format` using the `Intl` API to format the date based on the given `locale`, so that the output

[2016-11-05 10:30] #53 closed

[2016-11-05 10:30] #55 closed

[2016-11-05 10:30] #62 closed

[2016-11-05 11:04] motss commented on #67
@rip-the-jacker @sp1rs [`app-datepicker@2.9.0` is released!`](https://github.com/motss/app-datepicker/releases/tag/v2.9.0)

[2016-11-07 06:17] rip-the-jacker commented on #67
Thank you :)

[2016-11-07 06:31] motss commented on #53
@srk289 It's been fixed and added test for many different use cases and combinations. Feel free to reopen if the issue still persists. Once again thank you for reporting the issue.

[2016-11-07 14:21] motss commented on #54
Fixed in `v2.9.0`

[2016-11-07 14:21] #54 closed

[2016-11-25 21:14] sp1rs opened #70 "autoUpdateDate in app-datepicker-dialog ?"
Do we have autoUpdateDate property in app-datepicker-dialog ?

[2016-11-27 15:50] motss commented on #70
By default, app-datepicker needs buttons to confirm on selected date change. Let say app-datepicker was put into a dialog, the selected date should be updated only when the user click on the confirm button within the dialog. If autoUpdateDate was enabled by default, this would always update and fire when the selected date changes. Of course, you can say that let's turn it off when there are button

[2016-12-08 09:24] millitza opened #72 "1992: September occurs twice"
The app-datepicker(-dialog) shows the month September twice in the year 1992. I am not sure if the issue is contained to this year only, but it does not appear in the other years I did check.

[2016-12-08 11:57] motss commented on #72
@millitza Any steps to reproduce the bug? Unable to reproduce on Chrome 55, Firefox 50, and Edge 14 for Windows. Yet to test on other OSes.

[2016-12-30 20:57] edwardsharp opened #73 "can't figure out how to create a mixin to change width definitions"
hi there, i'm wanting to change a couple of css width rules, specifically:

https://github.com/motss/app-datepicker/blob/master/app-datepicker.html#L367
changed to:
[code]

https://github.com/motss/app-datepicker/blob/master/app-datepicker.html#L380
changed to:
[code]

i can't quite figure out how to create a mixin to override these definitions. is this even possible? i've fiddled around with the

[2017-01-30 09:16] CheckHelzio opened #74 "The inputDate only works if no date was selected before"
Hi!
First of all thanks for the wonderful work creating this component.

The inputDate works to open the datePicker on a specific date, but after I use the datePicker to select any other date, the inputDate does not work again.

What can I do if I want to open the datePicker always on the same date, even if I already select another one?

[2017-01-30 15:53] motss commented on #74
@CheckHelzio May I know what your use case is for this kind of purpose? I'd like to know a little bit more on what approach to best suit your use case. And I understand you want it to be able to reset to the given `inputDate` everytime the datepicker opens. Am I correct?

[2017-01-31 22:21] CheckHelzio commented on #74
I am developing an application that is a calendar of the events that will be in my university.

I use the datePicker to navigate faster to a specific date. Also as a shortcut to return to today.

I use it also to generate reports of the events, selecting the initial and final date of the report.

[2017-03-16 00:33] wingliu0 opened #77 "Support for swipe gesture"
I think it is cool to support swiping, just like the one in android

[2017-03-20 14:44] Adesfire commented on #58
Same problem here, doens't work on Safari, see the picture attached
![safari-fail](https://cloud.githubusercontent.com/assets/13274529/24105022/0392351a-0d84-11e7-9114-9ebf7a85e2a6.JPG)

[2017-03-20 15:00] motss commented on #58
@Adesfire what the version of the affected Safari?

[2017-03-20 15:03] motss commented on #72
Closing issue. Feel to reopen.

[2017-03-20 15:03] #72 closed

[2017-03-20 15:03] motss commented on #70
Closing issue. Feel free to reopen.

[2017-03-20 15:03] #70 closed

[2017-03-20 15:05] motss commented on #63
Closing issue. Feel free to reopen.

[2017-03-20 15:05] #63 closed

[2017-03-20 15:08] motss commented on #77
@wingliu0 Thank you for your support. This feature is not likely to be included in the current version. However this feature has been backlogged alongside Polymer 2.0. It will be released as soon as possible once Polymer goes stable in version 2.0.

[2017-03-20 16:12] wingliu0 commented on #77
@motss cool. Im looking forward to the 2.0 version

[2017-03-20 17:00] Adesfire commented on #58
Currently on Yosemite (Macbook pro) and i also tried on different iPhone (a 5 and a 6s) but they don't belongs to me and i don't know the version they are.

[2017-03-21 02:13] motss commented on #58
@Adesfire I'm looking into the issue. I've tested it on Safari 10.0.3 on my machine and everything works just fine. Troubleshooting into your version of Safari.

[2017-03-21 02:23] motss commented on #58
@Adesfire Tested on Safari 8.0.8 on Yosemite without any issue.
<img width="1106" alt="screen shot 2017-03-21 at 10 18 18 am" src="https://cloud.githubusercontent.com/assets/10607759/24129873/59ff1700-0e20-11e7-81a3-8add36ae4d8a.png">
<img width="1109" alt="screen shot 2017-03-21 at 10 21 17 am" src="https://cloud.githubusercontent.com/assets/10607759/24129874/5a0167bc-0e20-11e7-8865-8235eb60dfe3.

[2017-03-21 02:29] motss commented on #77
Once again thank you.

[2017-03-21 02:29] #77 closed

[2017-03-21 02:33] motss commented on #73
@edwardsharp
Hmm...the only way to do this is to use CSS Variables and the element does not have that ability to set a custom width when it's in other orientations or device's width size.

It can be fixed though with a quick patch release. Do you still need it anyway?

[2017-03-21 02:47] edwardsharp commented on #73
hi there, well, no this is not something i really need anymore. i ended up creating my own datepicker implementation to provide the specific style & functionality i desired.

it does seem like it would be useful to have an inline datepicker that sizes to the parent (e.g. 100% instead of 512px), however i'll leave those aesthetics up to you :)

[2017-03-21 03:08] motss commented on #73
Great. Closing issue.

[2017-03-21 03:08] #73 closed

[2017-03-21 07:43] Adesfire commented on #58
@motss , i don't understand why, but your demo seem to work fine indeed.
If i create a project **from scratch** with "polymer init", then following the "Getting Started" tutorial, it work on Chorme/Edge/Firefox but still like my last capture on Safari.

Perhaps a step is missing in the "getting started" tutorial ?

Here is the code i tried in the "from scratch" test i told above :

`<link rel="imp

[2017-03-21 08:17] motss commented on #58
@Adesfire Make sure the components are loaded properly. Here's a [simple demo](https://jsbin.com/vucatunowu/edit?html,output).

[2017-03-21 09:21] Adesfire commented on #58
@motss : this simple demo doesn't work on Safari (**i also try it with browserstack** on Maverick and iPhone 6S), this time nothing is displayed,
![mac-fail](https://cloud.githubusercontent.com/assets/13274529/24140219/7f0110ae-0e1f-11e7-8c1c-a8bc0207b01a.JPG)
e nothing is displayed :

[2017-03-21 09:37] motss commented on #58
@Adesfire It's normal as Safari does not natively support Web Components. You need to load the polyfill. The demo is intended to be tested on Chrome. You need to load Web Components polyfill. Hmm...looks like you didn't load any polyfill for Safari.

[2017-03-21 10:34] Adesfire commented on #58
@motss Sorry for my mistake, i was thinking you build it to test the Safari browser (because your component is fine on the others). Your new demo produce the same bug as my app on my Safari 8 or browserstacker iPhone 6S & safari 7.1

![iphone-fail](https://cloud.githubusercontent.com/assets/13274529/24143521/3d40749c-0e2a-11e7-8924-a1122ac32806.JPG)
 7.1 or iPhone 6s using browserstacker, a calend

[2017-03-21 11:25] motss commented on #58
@Adesfire Hmm...strange. Thank you for the screenshots. Can you help me to run this demo for a simple test https://jsbin.com/hememi/edit?html,output?

[2017-03-21 12:03] Adesfire commented on #58
@motss : With pleasure, as you can see, when language is en-us i got an "empty" calendar, and when is in fr-fr i got nothing... Below the screenshots of Safari 8,7 & iPhone 6S
![safari-8-fr](https://cloud.githubusercontent.com/assets/13274529/24146625/c58f1ebe-0e36-11e7-8718-040e358731fe.JPG)
![safari-7](https://cloud.githubusercontent.com/assets/13274529/24146626/c59531f0-0e36-11e7-9dae-f88ff6724

[2017-03-21 12:56] motss commented on #58
@Adesfire I think the Intl is the culprit. Try this demo https://jsbin.com/heqojejapi/edit?html,output.

So, this datepicker element requires you to load 2 polyfills:
1. `[Web Components Polyfill](https://github.com/webcomponents/webcomponentsjs)`
2. `[Intl Polyfill](https://github.com/andyearnshaw/Intl.js/)`

To find out which version of the browsers support Intl natively, go [here](http://kangax

[2017-03-21 13:28] Adesfire commented on #58
@motss Indeed, seem to be good now, i can see everything, some time i got problems with arrows buttons but not on your demo.

I understand your choice supporting performance, but i have to use this kind of component in a public website. So if i want to use yours, and i want it because is nice and it do many things i need for this project, i have to deal with "locales" and their heavy weight....

M

[2017-03-21 13:34] motss commented on #58
@Adesfire You can do feature detection to selectively load those polyfills so on supported browsers you don't have to send those polyfills to your users.

[2017-03-21 13:35] motss commented on #58
Closing this issue as this unexpected outcome has been found to be Intl on Safari.

[2017-03-21 13:35] #58 closed

[2017-03-21 13:46] Adesfire commented on #10
In our project, we have different type of dates. Some are available (and you can select them), some are blocked (and you can't thanks to the disabled-dates array) but some are both but we can't customize them. So, it could be nice to be able to customize the colors of some dates. That can be useful to inform our user about some events (if coupled with a legend) or in our case, to inform certain da

[2017-03-22 15:41] Adesfire opened #78 "Properties "date" seem to not be two ways data binding"
As i specify the "min-date" to be 10 days later than today (so the days before are disabled), i wanted forcing the "date" property, to be 10 days after today. This way, my customers will don't see a "all red calendar" when we are after the 20 of the month.

The problem is, when i change the "date" property of the app-datepicker, the selected day is not modified (still set on today). I have set the

[2017-03-22 23:02] nicolasr75 opened #79 "app-datepicker.js not found"
I tried the 2.0 preview version in a test project and got _404 app-datepicker.js not found_ because in app-datepicker.html there is this reference

    <script src="/app-datepicker.js"></script>

Is there a reason why you don't include the js code in the html file? Am I supposed to copy that file to my root folder?

[2017-03-23 02:11] motss commented on #79
@nicolasr75 The `2.0-preview` is undergoing major overhaul and it's not ready to be used. Sorry for the inconvenience this may cause you. I'll update the README once it's ready.

[2017-03-23 02:11] #79 closed

[2017-03-23 02:15] motss commented on #78
@Adesfire There are `date` and `inputDate` properties which are seemed to be confusing at first but hopefully the brief explanation below will help you out:

* `inputDate` - receive date input.

* `date` - output date after selection.

Hence, for you case, I think you should:

[code]

[2017-03-23 02:15] #78 closed

[2017-04-27 13:18] rip-the-jacker opened #80 "Date format breaks in the new Chrome v58"
Before updating chrome, selecting date used to show proper date format. But now the date is shown in a weird way with month denoted by number instead. PFA before and after Chroime update.

**Before**
![correct value](https://cloud.githubusercontent.com/assets/3167295/25485043/faac8a2c-2b79-11e7-8155-65131286f00e.png)

**After**
<img width="318" alt="screen shot 2017-04-27 at 6 42 02 pm" src="https

[2017-04-27 15:16] motss commented on #80
@rip-the-jacker

Need for info:

1. Affected OS version
2. Browser language
3. Polymer version
4. Affected `app-datepicker` version
5. A reduced test case to reproduce the issue.

[2017-04-27 15:26] rip-the-jacker commented on #80
- Affected OS version
  **Mac OSX 10.12.4**
- Browser language
  **English (US)**
- Polymer version
  **1.9.1**
- Affected app-datepicker version
  **2.9.0**
- A reduced test case to reproduce the issue.
  **Pick any date in datepicker, instead of verbose name of month. it just shows the number as shown in the image.**

[2017-04-27 16:07] motss commented on #80
Will look into it in depth to see if it can be reproduced.

[2017-04-27 18:52] sp1rs commented on #80
@rip-the-jacker
Just added locale='en' and it worked fine for me.

[2017-04-28 05:56] rip-the-jacker commented on #80
@sp1rs Thanks that works.

[2017-04-28 06:08] motss commented on #80
@rip-the-jacker

Tested the issue throughly on all browsers on latest macOS and was unable to reproduce the issue.

Yell at me again for persistent issue.

Thank you for reporting. 😄

[2017-04-28 06:11] rip-the-jacker commented on #80
@motss I had set format="". Maybe that's what caused it.

[2017-04-28 06:23] motss commented on #80
Hmm...that's could be what worth looking into.

[2017-04-28 06:43] sp1rs commented on #80
The issue is ..
Chrome: 57 : window.Intl.DateTimeFormat().resolvedOptions().locale ==> 'en-gb'
Chrome 58 :  window.Intl.DateTimeFormat().resolvedOptions().locale ==> 'und'

And i just updated the chrome from 57 to 58. Somehow the locale changed.

@motss, Can we have check that if locale is undefined 'und' than use 'en' as default.

[2017-04-28 06:53] motss commented on #80
@sp1rs Strange enough. Mine is still `en-US`.

[2017-04-28 08:36] sp1rs commented on #80
@motss Did you updated the chrome to 58?

[2017-04-28 08:52] motss commented on #80
@sp1rs Tested on Chrome 58, 59, 60 and all returned `en-US`.

[2017-04-28 10:51] sp1rs commented on #80
@motss Still, if `window.Intl.DateTimeFormat().resolvedOptions().locale` returns `und` then code should handle this case.

[2017-04-28 12:12] motss commented on #80
@sp1rs Indeed. This is definitely needed to be fixed.

[2017-04-28 14:42] #80 closed

[2017-04-28 16:39] sp1rs commented on #80
@motss I was about to create a pull request, but you fixed it.

[2017-05-03 16:08] santanubasu opened #81 "Very minor typo in readme"
In the examples section:

    <app-datepicker><app-datepicker>

should read instead

    <app-datepicker></app-datepicker>

[2017-05-04 01:51] #81 closed

[2017-05-04 01:51] motss commented on #81
@santanubasu Thank you for reporting!

[2017-05-07 00:34] diegocerdan commented on #47
Is the 2.9 version compatible with Polymer 2.0?

[2017-05-07 04:43] motss commented on #47
@diegocerdan No. A version to support Polymer 2.0 is still WIP.

[2017-05-07 16:48] motss commented on #69
## Paint point

Only modern browsers should use the format of `yyyy-mm-dd` while `yyyy/mm/dd` works well on older browsers but this rule has been a quite a while.

## Solution to this issue

1. Use native Javascript's Date object and defaults everything to UTC format for consistency across browsers and servers.
2. Use the format of `yyyy-mm-dd` as this format might be used directly as URL query pa

[2017-05-07 16:50] motss commented on #48
Fixed in c3a9363767d8825380550d807e06915c5b874085

[2017-05-07 16:50] #48 closed

[2017-05-07 16:52] motss commented on #41
Should have fixed f5a3fae723d77779b3378de5d808797dc3acebc8

[2017-05-07 16:52] #41 closed

[2017-05-07 16:54] motss commented on #42
Fixed

[2017-05-07 16:54] #42 closed

[2017-05-11 12:26] sp1rs commented on #74
@motss Yes, whenever the datepicker opens, I would like to reset the inputDate.
And also I have something like this.
[code]

testDate was set as date which I gave in inputDate? Is this the right flow?

[2017-05-11 13:45] motss commented on #74
@sp1rs reset `inputDate` or resete `selectedDate`?

[2017-05-11 13:55] sp1rs commented on #74
@motss both inputDate and selectedDate.

[2017-05-11 13:56] sp1rs commented on #74
@motss  and why setting `inputDate`, changes `data` also ?

[2017-05-11 14:33] motss commented on #74
@sp1rs `inputDate` will directly affect the selected date internally but that does not actually update the `date` which will output the selected date. Why? It's because `app-datepicker` usually use within  a dialog and only clicking the OK button will trigger updating the value `date` whereas CANCEL button means you don't want to output the selected date. But for `app-datepicker` has another metho

[2017-05-11 14:36] motss commented on #74
@sp1rs The use case to me is quite rare. The only way to do is to introduce a flag for this kind of use case.

[2017-05-11 15:39] #74 closed

[2017-05-11 15:40] motss commented on #74
@sp1rs @CheckHelzio cd8d97c should fix this with newly added flag `alwaysResetSelectedDateOnDialogClose`.

[2017-05-11 15:42] motss commented on #74
The demo always updated with this rare use case. PTAL. 👍

[Updated demo with alwaysReset flag](https://motss.github.io/app-datepicker/components/app-datepicker/)

[2017-05-15 07:21] sp1rs commented on #74
Thanks, @motss

[2017-05-17 09:25] sp1rs commented on #74
@motss When is the fix going live?

[2017-05-17 13:26] motss commented on #74
@sp1rs Since the Polymer 2.0 went stable, I'm still working on maybe this can be a hybrid element for the latest stable version alongside this patch. Of course, as always, help are definitely welcomed. Stay tuned~

[2017-05-20 09:41] motss commented on #74
@sp1rs Please check out the latest release which has been upgraded into a hybrid Polymer Element! 🌮 🎉

[2017-05-20 15:51] sp1rs commented on #74
@motss awesome, thanks a lot.

[2017-05-24 16:12] ralcar opened #84 "app-datepicker-dialog appears behind the backdrop when opened up"
### Description
The `app-datepicker-dialog` appears behind the backdrop.

Im running Polymer 2.0 with the latest datepicker version (2.10.1)

### Expected outcome

`app-datepicker-dialog` comes up on top as in the demo

### Actual outcome

`app-datepicker-dialog` appears behind the backdrop and when trying to click it, it just shuts down as if
I clicked outside of the `app-datepicker-dialog`

###

[2017-05-30 12:53] FLamparski opened #85 "input-date property does not respect the format given"
### Description
Given a `<app-date-picker format="yyyy-mm-dd" input-date=[[someVar]]></app-date-picker> == $0`:

[code]

### Expected outcome

The date selected in the datepicker should change as a new input-date is set which follows the format given by the format attribute

### Actual outcome

The selected date only changes if the format it's given in is YYYY/MM/DD

### Live Demo

N/A

### Steps

[2017-06-02 18:46] unionthugface commented on #84
I am having the same problem

[2017-06-03 06:28] motss commented on #84
@unionthugface @ralcar Any reduced test case for me to reproduce?

I think the culprit was the `iron-overlay` element which caused this kind of effect and the way to resolve this is to move any dialog element to the document body.

And this is what folks out there to solve that:

[code]

[code]

[2017-06-12 11:05] userquin opened #87 "Wrong September + October days before 1996"
### Description
Any year selected before 1996 shows September with 29 days and October with September 30 + October days (31). Also, September is shown in both cases, that is September for September and September also for October.

### Expected outcome

Any year must have 30 on September and 31 on October

### Actual outcome

![sep-1995](https://user-images.githubusercontent.com/6311119/27031218-aa

[2017-06-12 11:40] userquin commented on #87
On September 1995, 24th day appears twice...

[2017-06-12 11:51] userquin commented on #87
It seems there is a problem with Intl:

new window.Intl.DateTimeFormat('es-ES', { day: 'numeric' }).format(new Date(1995,8,24));
"24"
new window.Intl.DateTimeFormat('es-ES', { day: 'numeric' }).format(new Date(1995,8,25));
"24"
new window.Intl.DateTimeFormat('es-ES', { day: 'numeric' }).format(new Date(1995,8,26));
"25"
new window.Intl.DateTimeFormat('en-GB', { day: 'numeric' }).format(new Date(19

[2017-06-12 12:59] motss commented on #87
@userquin May I know which OS you're using?

[2017-06-12 13:02] userquin commented on #87
Windows 10 64 bits, also fails on javascript console on firefox and chrome

[2017-06-12 13:03] motss commented on #87
@userquin Really? I'm using Windows 10 x64 and never got this issue.

[2017-06-12 13:03] userquin commented on #87
new window.Intl.DateTimeFormat('es-AR', { month: 'short' }).format(new Date(1996,9,1));
"oct."
new window.Intl.DateTimeFormat('es-AR', { month: 'short' }).format(new Date(1995,9,1));
"sep."
new window.Intl.DateTimeFormat('es-AR', { month: 'short' }).format(new Date(1995,9,2));
"oct."

[2017-06-12 13:04] userquin commented on #87
just open current demo and go to a year before 1996 and select september and october

[2017-06-12 13:04] motss commented on #87
My result was `["oct.", "oct.", "oct."]`.

[2017-06-12 13:07] userquin commented on #87
Chrome Versión 58.0.3029.110 (64-bit)
Firefox 51.0.1 (32-bit)

[2017-06-12 13:08] motss commented on #87
@userquin Also confirmed that the datepicker from the demo. Everything shows up properly and unable to reproduce the error from what your screenshots have shown. 😢

[2017-06-12 13:09] motss commented on #87
@userquin Tested on Chrome 59. Shouldn't be a so much difference between Chrome 58 and Chrome 59. Would you mind trying it on Chrome 59?

[2017-06-12 13:19] userquin commented on #87
Also tested on chrome 59 but also failing... I can reproduce the problem in another dev PC but not in chrome android.
I only have intl-messageformat polyfill included, not DateTimeFormat polyfill...

[2017-06-12 13:41] motss commented on #87
@userquin On Chrome, you should not load any polyfill. Please refer to the table when to load polyfill on unsupported browsers: http://caniuse.com/#feat=internationalization.

Anyhow loading polyfill on browsers that natively support `Intl` will cause disastrous effect.

[2017-06-12 13:47] userquin commented on #87
I can also reproduce it on windows xp, but not in macosx (chrome).
I'll try to test at home on ubuntu 16 and centos (chrome and chrominum), windows 10 64 bits and macosx.

The problem is that I can reproduce it on 2 windows 10 64 bits  a windows xp, via your component page demo...
The polyfill is loaded if necessary, it is loaded via app-localize-behavior.

[2017-06-12 13:50] motss commented on #87
@userquin This is very strange. Maybe take a look at the version of the `Intl` polyfill? I don't think `app-localize-behavior` will load a proper `Intl` polyfill. Can you confirm on that?

[2017-06-12 13:58] userquin commented on #87
I only navigate your component page, I'm not navigating my app. I can now reproduce it on 3 windows 10 64 bits at office, 2 dev PC and an administrative PC.
For example, selecting 1953 on your component page date picker, October is missing...

[2017-06-12 14:04] userquin commented on #87
Another 2 windows xp (chrome and firefox test) with the same problem...

[2017-06-12 14:11] userquin commented on #87
More info:

- Windows 10 Pro, v1607, compilation 14393.1198
- Windows Home, v1607, compilation 14393.447

[2017-06-12 14:25] motss opened #88 "datepicker went haywire before year 1983 is selected"
### Description

Dates went haywire when any year before 1983 is selected. This could be related to the `Date` object implemented on the browsers and further investigation is needed to dive the issue down to figure the cause out. Otherwise, nothing can be done since it's a web platform issue.

### Expected outcome

Dates should be computed as how dates are computed after year 1983.

### Actual out

[2017-06-12 14:25] motss commented on #88
@userquin Related to #87.

[2017-06-12 14:26] motss commented on #87
@userquin I was able to reproduce something like what you faced when selecting any year before year 1983. I'm suspecting this could be a web platform issue.

[2017-06-12 15:34] userquin commented on #88
it seems you need to work with UTC: instead using new Date(y,m,d) you need to change it to new Date(Date.UTC(y,m,d)): beware Date.UTC month is 1 based instead of 0 based

[2017-06-12 15:35] userquin commented on #88
new window.Intl.DateTimeFormat('es-ES', { day: 'numeric' }).format(new Date(1995,8,25));
"24"
new window.Intl.DateTimeFormat('es-ES', { day: 'numeric' }).format(new Date(Date.UTC(1995,9,25)));
"25"

[2017-06-12 15:37] userquin commented on #88
It seems Intl accumulates offsets, I'm from Spain GMT+1 with DST (GMT+2 in summer time)

[2017-06-12 17:27] userquin commented on #88
I have it working, you only have to change a few new Date to Date.UTC. I suggest you to include in the doc to use the string value to date datepicker value.

**_readOnlyDate**: will be the string used in:
[code]
[code]
If the returned value is to be shown, split the _readOnlyDate string with the separator supplied (in this case **/**) to build a Date for the client timezone and then use it to buil

[2017-06-12 20:44] userquin commented on #87
Also reproducible on macosx sierra (chrome and safari): March and April 1953 failing  on chrome and  September and October 1995 on Safari

[2017-06-12 20:53] userquin commented on #87
Also reproducible on ubuntu 16 (64 bits) (chrome, chromium and firefox): March and April 1953, all navigators failing.
Tomorrow I'll test on centos, but it seems it will have the same problem.

[2017-06-12 21:03] userquin commented on #87
It seems app-datepicker is not working on any browser on any operating system, I have tested with this results:

Windows XP, Windows 10 64 bits (home and professional): chrome and firefox not working
Macosx Sierra: chrome and safari not working
Linux Ubuntu 16 (64 bits): chrome, chromium and firefox not working.

Tomorrow at office I'll check chrome and firefox on centos and with an older version

[2017-06-13 02:24] motss commented on #88
@userquin

This is confirmed. By changing `new Date` to `Date.UTC` will likely solve the whole mystery. Would you like to submit a PR to fix this instead?

[2017-06-13 07:42] userquin commented on #88
I have tested on windows 10 and android (chrome) and we also need to add timeZone: 'UTC' to DateTimeFormat options: data on screen must be consistent with their data.
I'll check in all environments and then I'll try to make a PR as soon as posible...

[2017-06-13 09:35] userquin commented on #57
see #87 and #88

[2017-06-13 13:37] #88 closed

[2017-06-13 13:38] motss commented on #87
This should be fixed in d00af1127e3c2743838403fe4fc870a2b9380f16. 👍

[2017-06-13 13:38] #87 closed

[2017-06-13 15:11] #85 closed

[2017-06-13 15:11] motss commented on #85
@FLamparski Though a bit late, this has been patched.

[2017-06-13 15:41] userquin opened #90 "PR #89 must be reviewed to handle min and max dates"
It seems we also need to change _isDisableDays function to do logic with UTC instead with local TZ.

[2017-06-13 15:43] userquin commented on #90
I'm working on it, so when finished I'll make a new PR if necessary...

[2017-06-13 15:48] motss commented on #90
@userquin Cool.

[2017-06-13 20:14] userquin commented on #90
@motss , I have a problem. I have merge my PR #89 to my master and then create a new branch for PR #90 from my master  but when I request a new one PR for your repo all changes from PR #88 when I  compare across forks.

[2017-06-13 20:47] userquin commented on #90
You have moved PR #89 to 2.11.0, my repo comes from 2.10.1. I think you dont have problems merging to 2.11.0.

[2017-06-14 19:47] userquin opened #93 "ms edge not working with lastest version"
@motss can you test component page with ms edge? Also test with previous version 2.10.1.

my edge on windows 10 (64 bits) home edition, also not working at office (Professional edition)
Microsoft Edge 38.14393.1066.0
Microsoft EdgeHTML 14.14393

![ms-edge](https://user-images.githubusercontent.com/6311119/27151143-ef95b9ba-5149-11e7-9881-a99c89e82360.png)

[2017-06-15 14:21] motss commented on #93
@userquin That's something need to be fixed.

[2017-06-15 14:25] #90 closed

[2017-06-15 17:03] userquin commented on #93
There is a strange behavior with the + cast operator, at least on Edge:
[code]
if changing the + cast forcing it explicitly, also works in Edge (and of course in firefox and chrome):
[code]
By the way, change the & operator by && in if statement... ;)

[2017-06-16 13:00] motss commented on #93
@userquin the `&` operator is definitely a mistake and never know this had run into issue. 😢

But don't understand what going on with the `+` shorthand and in your fixed, it basically becomes a string and not a number type. Could you please explain on your fix?

[2017-06-16 13:17] userquin commented on #93
is a problem with ms edge not mine, changing **_dateObj.date = +_formatted;** to **_dateObj.date = ''+_formatted;** just works on all navigator...

the & operator: problem with my IDE (Intellij or webstorm) tells me it its a bitwise operator not a logical operator...

[2017-06-30 18:28] amanshu-kataria opened #95 "paper-menu causes app-datepicker not to display properly"
Paper-menu is causing app-datepicker not to display the calendar properly.

![capture](https://user-images.githubusercontent.com/13014093/27749024-59b297f8-5def-11e7-9809-237ba06d7a61.PNG)

The calendar gets displayed properly before installing paper-menu, but after installing paper-menu the above issue occurs.

You can get an idea of how it look likes from the following links:
[Plunker Instance 1

[2017-07-01 18:41] amanshu-kataria commented on #95
@motss Need some help please.

[2017-07-02 02:43] motss commented on #95
@amanshu-kataria Personally not really recommend to use `Polygit`. But I've tried to do it once locally and never encountered any issue so far.

**bower.json**

[code]

**test-app-datepicker.html**

[code]

These are my recommendations:

1. Use [polymer-cli](https://github.com/Polymer/polymer-cli) to scaffold your element/ project.
2. Use the non-deprecated Polymer Elements. [paper-menu](https://g

[2017-07-02 02:45] motss commented on #84
Closing this issue.

[2017-07-02 02:45] #84 closed

[2017-07-02 17:52] amanshu-kataria commented on #95
@motss thanks for your recommendations.

I'm using Polymer 2 and here's the list of dependencies I'm using in my Polymer app:

**bower.json**
[code]

The above dependencies doesn't include `paper-menu`, which means it doesn't work even when `paper-menu` is not installed. But earlier `paper-menu` was also installed. Just noticed this thing.

[2017-07-03 01:15] motss commented on #95
Any error messages from the Dev Tools?

[2017-07-04 15:02] amanshu-kataria commented on #95
Getting the following errors:
![capture](https://user-images.githubusercontent.com/13014093/27835230-c9b1d0ae-60f7-11e7-8946-7a7c86588e4a.PNG)

[2017-07-04 15:28] motss commented on #95
@amanshu-kataria I see. This could be the cause. All these error messages are caused due to duplicated definition of certain components. I won't be able to tell what caused this errors and I will leave those for you to fix them. I believe the `app-datepicker` should work as expected once those errors go away.

[2017-07-05 09:09] amanshu-kataria commented on #95
@motss Thanks. I imported _polymer.html_ in _index.html_ which is not recommended, it was causing the above errors. Fixing those errors helped me, app-datepicker is now working.

[2017-07-05 12:16] motss commented on #95
Great. Closing this issue.

Thank you for sorting this issue out.

[2017-07-05 12:16] #95 closed

[2017-07-25 07:52] motss opened #96 "[bug][p2] Selected year does not have predefined color on init"
### Description

Selected year does not use the predefined color via `--app-datepicker-selected-year-color`.

### Expected outcome

Selected year is colored with value from `--app-datepicker-selected-year-color`.

### Actual outcome

Selected year stay black on init until the next selection.

### Live Demo

### Steps to reproduce

### Browsers Affected

- [x] Chrome/ Opera
- [ ] Firefox
- [ ] Safa

[2017-07-25 18:56] RoXuS commented on #10
For those who are interested in the range functionality, I have released a component that handles this case, pending app-datepicker !

See demo here : https://www.webcomponents.org/element/roxus/range-datepicker

[2017-07-26 12:59] motss commented on #10
@RoXuS It looks awesome! Well done on the range datepicker!

[2017-07-26 17:23] olegvakulenko opened #97 "app-datepicker with paper-dropdown-menu"
Hi!

Is it possible to use **app-datepicker** inside **paper-dropdown-menu**, update value in dropdown on date change and close menu?
I explain what I try to do. I use datepicker in dialog and want to avoid nested date dialog.

I try:
[code]
But i can't find what event fire after datepicker change, how use current value from datepicker and how use it as selected value in menu (now it show datepick

[2017-07-27 12:25] motss commented on #97
@olegvakulenko This is one strange idea I've ever seen. Not sure about this use case. But to answer your questions, I think you can look into these 3 things that might help you:

1. `inputDate` - You pass in a date string to change the date of the datepicker.
2. `date` - You can retrieve selected date via this property.
3. `enforceDateChange` - A method to update selected date. This will trigger u

[2017-07-28 21:55] olegvakulenko commented on #97
I agree with you, that idea little strange, but I can't find solution in Material Design style for my app.

When user open order dialog, then next step is to select date from datepicker, whick also placed in dialog. But guidelines says: "Dialogs should avoid: Opening dialogs from within a dialog". So I have overcomplex behavior.
In my question I try to find solution for this user case.
In other ha

[2017-07-29 03:41] motss commented on #97
I don't think dropdown menu is the way to go. In Material Design, AFAIK, datepicker opens up with a model behind. Opening up a datepicker just below the input is mostly found on application for desktops. For your use case, you can create your own dialog as you want with the element `app-datepicker`. In this way, you can customize your own action buttons.

Hope this helps.

[2017-08-01 15:15] motss commented on #97
Closing this issue. Feel free to open new issue or shout at me to reopen this little one instead. 💇‍♂️

[2017-08-01 15:15] #97 closed

[2017-08-01 15:18] motss opened #98 "[bug][p1] To add fallback selection for iron-selector"
### Description

Sometimes, calendar is not rendered as expected. This was due to no selected value from the `iron-selector` and rendered it to be `undefined`.

### Expected outcome

A calendar renders when the datepicker initialized.

### Actual outcome

No calendar is shown.

### Live Demo

### Steps to reproduce

### Browsers Affected

- [x] Chrome/ Opera
- [x] Firefox
- [x] Safari 10+
- [x] Sa

[2017-08-01 15:21] motss commented on #96
Happens only on Polymer 2.x

[2017-08-01 15:26] #98 closed

[2017-08-28 13:05] thomasd commented on #93
Hey, had the same error with latest version (2.11.1) on IE11 (Windows 7 64bit).

After some research I think I found the problem:
IE11+ (including Edge) includes LTR/RTL unicode characters around the formatted date string coming from DateTimeFormat.format. This hidden characters are the reason why the conversion of the string to number with the +-sign results in "NaN".
This is apperently by design

[2017-08-29 13:19] userquin commented on #93
Latest version does not include #94 so the problem is not yet fixed. Maybe can be fixed with your approach, wait @motss answer (I suggest you to submit a new pull request).

[2017-08-29 15:04] gudatcomputers commented on #10
@motss - love this picker, but would really like to be able to hide the `<iron-selector>` for showing the selectedFullDate and just have the calendar and navigator visible.  Didn't see any CSS variables we could use to achieve this.  Is this something you'd be open to?

I've forked and tried to start messing around with the change but the reference paths on the demo page don't seem to import their

[2017-09-06 14:33] gudatcomputers commented on #93
@thomasd this fix totally worked for me.. I'm eager for a PR.  Can you submit?  I didn't want to resubmit a PR of your work and "try to take credit"  I'm relegated to bundling bower_components in my git repo for now.

[2017-09-13 16:22] motss commented on #93
@thomasd @gudatcomputers @userquin This seems like a more favorable fix to the issue. I'll try to make this patch available as soon as possible. Sorry for the long waiting.

[2017-10-06 10:14] hktuto opened #99 "_daysOfMonth error if locale is chinese"
day of month will display NaN is the locale set to zh-HK, zh-CN, zh-MO, zh-SG and zh-TW

[2017-10-06 22:25] motss commented on #99
Thanks for the issue. Will look into it.

[2017-10-07 05:51] #93 closed

[2017-10-07 05:51] #99 closed

[2017-10-08 00:26] hktuto commented on #99
@motss , you are welcome , thank for your  contribution , I really love this element , best datepicker in polymer

[2017-10-08 00:50] hktuto opened #102 "Explode button label for translation"
Since that user can change language of the calendar, I think adding “cancel-label” and “confirm-label” for the button to let user translate would be great

[2017-10-08 01:15] motss commented on #102
@hktuto Thanks for the issue. Someone thought about this before and it has been added in as an enhancement. You can sure now change the labels but only applies to `app-datepicker-dialog` if you're aware of that.

You can change the labels to any text you want via `confirmLabel` and `dismissLabel`, like so:

[code]

Hope this helps.

[2017-10-08 05:51] hktuto commented on #102
@motss great !! Thanks

[2017-10-08 08:52] #102 closed

[2017-10-12 16:50] stefounie95 opened #104 "Using Polymer 2, app-datepicker-dialog doen't show up"
### Description
Using Polymer 2, the `app-datepicker-dialog` element doesn't show when click on a button.

### Code example
[code]

### Steps to reproduce
1. Put a `app-datepicker` element in the page.
2. Click on a button to open the dialog

### Browser used
 Chromium

[2017-10-13 12:58] motss commented on #104
@stefounie95

I think you must have imported the wrong HTML file.

Let's try it again with the following code.

[code]

[2017-10-13 13:49] stefounie95 commented on #104
With your solution, it works ! Thank you very much !

Just a thing to add on the dependancies : it needs the package "paper-button" on the bower_components to works, and the "web-animations-js" to have the animations

[2017-10-13 13:52] #104 closed

[2017-10-13 14:09] stefounie95 opened #106 "Error generated by missing of paper-button on the bower_components"
Error generated by missing of paper-button on the bower_components

## Error message
[code]

## How to reproduce
Try to use the component without having paper-button on yout bower_components

## How to fix
add paper-button on the bower.json
"paper-button": "PolymerElements/paper-button"

(web-animation can be added too to have animations)

[2017-10-18 22:59] aryaei commented on #44
I have used it in Hey Taxi native android iOS & Android solution at:
https://codecanyon.net/item/hey-taxi-full-native-ios-solution-admin-dashboard/20790575
https://codecanyon.net/item/hey-taxi-full-native-android-solution-admin-dashboard/20052791.
but there seems it doesn't support polymer 2 well. because i have updated it and it doesn't shows neon-animated-pages part.

[2017-10-18 23:04] aryaei opened #108 "Making it responsive"
i think it would be a good idea to make calendar responsive currently or at least a mode that automatically chooses between horizontal and vertical based on space it has.

[2017-10-19 12:39] motss commented on #108
@aryaei You can find a property `view` from the documentation as this can be set to the view you expect it to be by listening to some kind of media query changes.

[2017-10-20 12:27] aryaei commented on #108
Thanks a lot. will look into it.

[2017-10-20 12:27] #108 closed

[2017-10-30 16:19] vpanchev opened #109 "Add events on dialog button clicks."
### Description
The 'app-datepicker' dialog buttons should fire events when clicked.

### Expected outcome
The 'app-datepicker' dialog buttons fire events when clicked.

### Actual outcome
Functionality is not currently implemented.

### Live Demo
-none-

### Steps to reproduce

### Browsers Affected
-all-

[2017-12-29 17:58] ranjitjitu opened #111 "Dynamic Date pickers"
how do i create multiple app-datepicker-dialog on dom-repeat with a paper-button attached to each instance of  app-datepicker-dialog and fetch the value of each app-datepicker-dialog when selected?

[2017-12-30 11:05] motss commented on #111
Any reduced test case to help understand your use case?

[2017-12-30 14:37] ranjitjitu commented on #111
Well I need to create a group of user defined holiday list which will include name of the holiday and the date(planning to app-datepicker) and there will be a add button attached with each group on click of which it will create a clone of the holiday name element and calender element and add button again. I hope I was able to clarify my use case in a proper way.

[2017-12-31 04:00] motss commented on #111
@ranjitjitu Based on your use case, I see no need to have a group of `<app-datepicker-dialog>`. I would do is to update the date of a `<app-datepicker-dialog>` when the user clicks on one of the holidays in the list. This means that each and every holiday in the list should have some kind of way to preserve its date value, even for any date change that is triggered by the user.

In such way, you a

[2017-12-31 16:21] ranjitjitu commented on #111
Thanks for the response..will try it out

[2018-01-01 14:51] motss commented on #111
Closing this.

[2018-01-01 14:51] #111 closed

[2018-01-19 07:18] AndreasGalster opened #112 "Convert via modulizer for 3.0 and publish to NPM"
It looks like modulizer will have its last few tweaks in the next 1-2 months to automatically convert all 1.x/2.x components/github repos successfully to 3.0 elements. This is just a friendly reminder that I love this element and would love to see it on NPM with a 3.0 version 😄.

For reference, 3.0 elements are in preview here and expected to be updated frequently in the next weeks to fix the last

[2018-01-19 14:29] motss commented on #112
Thanks for the heads up 😄

[2018-01-26 09:42] punkratz312 opened #113 "Current date not accepted at first selection"
Right after submitting the picker direct after opening it (current date is selected) the picker does **NOT** fire a changed event. If a make a selection to any date the property gets changed as expected, but not if i dont make a selection and i just want to select the current date.
So it seems that the initial date will not lead to fire a event after submitting.

[2018-02-07 16:11] Thkasis opened #115 "Neon Animation is deprecated; replace with css animations?"
Hi, I'm a fan of this element. Just wondering if there is any plan to replace neon animation as it is deprecated ? Cheers

[2018-02-07 17:03] motss commented on #115
@Thkasis Thanks for raising this concern. A fix will be on its way to tackle this with Web Animations as a replacement probably instead of refactoring it to use CSS animations.

Feel free to submit a PR if you're interested to give this issue a try 😄!

[2018-02-07 17:07] Thkasis commented on #115
No problem, shifting away from neon animation has been a pain for myself as I have used it in my web apps. I have often managed to use iron pages instead which helps to move towards lazy loading stuff even more as well. But when it comes to this I am not sure that would be wise and it would probably make things even more complex. I would submit a PR if I could find some time.. can't promise for no

[2018-02-13 10:06] punkratz312 commented on #113
hello?

[2018-02-21 01:18] madiganz opened #116 "inputDate does not change datepicker's date value when format is not default."
### Description
app-datepicker does not get update when paper input's value field changes.

### Expected outcome
date in app-datepicker gets updated normally

### Actual outcome
Nothing happens

[code]
`format="mm/dd/yyyy"` does not work either

### Browsers Affected

- [x] Chrome/ Opera
- [ ] Firefox
- [ ] Safari 10+
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge 12+
- [ ] IE 11

[2018-02-23 21:31] madiganz commented on #116
It looks like this was originally by design? Is this something that you are interested improving?

[2018-02-24 03:12] motss commented on #116
@madiganz Can you provide me your inputs and expected output for your case?

[2018-02-26 18:11] madiganz commented on #116
My input would be a date = "02/25/2018" and I expect it to show this date on the map (February 25th, 2018). My format is "mm/dd/yyyy".

Did you need anything else? Not sure exactly what you are asking for.

[2018-02-28 13:10] motss commented on #116
@madiganz Thanks. That is helpful. Will look into that shortly.

[2018-03-03 10:35] #106 closed

[2018-03-03 11:25] motss commented on #116
@madiganz Had looked into this issue you encountered. Due to the limitation of the platform when comes to dealing with `Date` as you have already stated in the previous comments, `app-datepicker` only accepts dates in the format of either `yyyy/MM/dd` or `yyyy-MM-dd` from the property `inputDate` and the property `format` is only meant for formatting the selected date output by the property `date`

[2018-03-03 11:28] motss commented on #113
@punkratz312 Not sure which picker you're referring to, any reduced code sample would be helpful.

[2018-03-03 11:31] motss commented on #112
@AndreasGalster PR is totally welcome for getting the element to be Polymer 3.0 ready.

[2018-03-03 11:32] motss commented on #109
@vpanchev Any use case for this?

[2018-03-03 12:02] #96 closed

[2018-03-03 12:03] motss commented on #56
Closing this old issue.

[2018-03-03 12:03] #56 closed

[2018-03-03 12:04] motss commented on #47
Closing this old issue as the element has already been a hybrid element that supports both Polymer 1.x and 2.x.

[2018-03-03 12:04] #47 closed

[2018-03-03 12:05] motss commented on #57
Closing this issue as this has been fixed in some other raised issues #87 and #88. Thank you for all the reporting. Really appreciate that! 👍

[2018-03-03 12:05] #57 closed

[2018-03-05 18:38] madiganz commented on #116
Is there any reason why it can't use the format property to help with inputDate? Otherwise it is very limiting.

[2018-03-06 15:18] motss commented on #116
@madiganz As I mentioned, due to limitation of how each browser interpret the date string, it can be unpredictable to cater for each type of date string in various format.

However, supporting multiple formats can be done but that a lot of efforts are needed in order to pull that off. Developers have to convert the date string in their supported locales to the standard format of `yyyy-MM-dd` so th

[2018-03-08 12:46] binhbbui411 opened #117 "I wrote a blog featuring your component"
Here's the link to the blog: https://vaadin.com/blog/web-component-wednesday-1-datepicker

I think you have a great component and decided that it would be a cool one to be included on the blog. Feel free to write some comments on the blog.

[2018-03-16 18:20] stat92 opened #118 "Dynamically changing minDate"
Hi! I have two datepickers. First of which is the start of some interval and second is the end of that interval.
And it would be great to dynamically change `minDate` of the second `datepicker` depending on the start date. I see [here](https://github.com/motss/app-datepicker/blob/master/app-datepicker.html#L1770) that it will be implemented. I am searching for some workaround to that. Thanks in ad

[2018-03-20 18:43] rachelmrgls opened #119 "Feature Request: remove/hide the header"
Hi motss,

I'm working on a web app using your date picker, and I'd like to use a simpler version, without the header (selected-fulldate) containing the selected year and selected date, so the app-datepicker is just the calendar view.

![screenshot from 2018-03-20 11-41-10](https://user-images.githubusercontent.com/8468760/37675886-a5e32bc0-2c33-11e8-9314-9cc7c6e4a1c0.png)

I understand this would

[2018-03-21 14:16] motss commented on #119
Good day, @rachelmrgls!

Thanks for the feedback.

There are 2 ways I can think of to achieve that:

1. **Easy fix** - Make use CSS to set `display: none` on the header
2. **Preferable fix** - To add new property to decide whether or not the header should be rendered.

Hmm...I think the latter is the proper one. This should not be a complicated feature. 😄

[2018-03-21 14:19] motss commented on #118
Good day, @stat92.

I think this can be achieved without even needing the element to handle the trick.

By just listening to the changed value of one datepicker then act on the `minDate` of another datepicker. Does that sounds like a solution to you?

[2018-03-21 14:20] motss commented on #117
Good day, @binhbbui411.

Awesome! That totally blows my mind! Thanks for featuring my component in your blog post! Definitely check that out very soon!

[2018-03-25 07:46] stat92 commented on #118
@motss. It works. Thank you.

[2018-03-25 07:46] #118 closed

[2018-04-08 10:20] WTober opened #120 "with iOS 9.3.5 incomplete display of the component"
### Description

One user of my PWA with iOS 9.3.5 does not see the days in the component.
There are no problems with newer versions of Safari on mobile. Any help is welcome!

### Actual outcome

screenshot example #from a user with ios 9.3.5
[https://drive.google.com/file/d/1DO-YfCqMxHHtdiCnrdexXbqSHUbupe7S/view?usp=sharing](url)

### Browsers Affected

- [x] mobileSafari for iOS9.3.5

[2018-04-08 10:51] motss commented on #120
@WTober Could you please uplod the screenshot to Github again?

[2018-04-08 18:30] WTober commented on #120
Photo is not good quality. I hope you can see that the dates are missing
![issue_with_ios9_3_5](https://user-images.githubusercontent.com/8019613/38470994-4a3e4b78-3b6b-11e8-8d56-1c7c60a03054.jpg)

[2018-04-09 12:37] motss commented on #120
@WTober It might be due to the absence of Intl. Did you load the Intl polyfill on the said old Safari? See here for more details https://github.com/motss/app-datepicker#intldatetimeformat.

[2018-04-09 13:35] WTober commented on #120
@motss Thank you for your hint. Updated my PWA and informed the user with iOS9.3.5. If I get a feedback then I'll contact you again.

[2018-04-09 14:11] motss commented on #120
@WTober You're welcome. Well, I think I can safely close this issue now. 👍

[2018-04-09 14:11] #120 closed

[2018-04-16 15:15] stat92 opened #122 "minDate doesn't effects a year"
### Description
Say datepicker has as minDate 16.04.2018. But it doesn't disable a years. So you can simply check 16.04.2017 with years picker.

### Expected outcome
Can't select year earlier than min year.

### Actual outcome
Can select year earlier than min year.

### Live Demo
Check for demo in web components https://www.webcomponents.org/element/motss/app-datepicker/demo/demo/index.html

### S

[2018-04-16 17:39] stat92 commented on #122
Why does ```_isListOfYearsSelected``` is called? I am adding another listener to identify disabled or not, but it has not been called:
[code]
[code]

[2018-04-16 22:52] motss commented on #122
@stat92 If not mistaken, `iron-list` calls it. `selected` is one property from `iron-list`. `iron-list` sets it to `true` when a list item is selected. `_isListOfYearSelected` will compute the class accordingly to the value of `selected`.

[2018-04-16 22:57] motss commented on #122
@stat92 Perhaps re-render the year list when a `minDate` or `maxDate` is set?

[2018-04-24 15:38] stat92 commented on #122
@motss What's about [PR](https://github.com/motss/app-datepicker/pull/123) ?

[2018-05-02 15:01] motss opened #124 "paper-input + app-datepicker"

[2018-10-31 13:06] punkratz312 commented on #112
npm support would be nice. atm only the dead bower is supported.

[2018-10-31 13:37] motss commented on #112
@punkratz312 Sorry for the delay. There are too many things going on in my life that I couldn't focus on working a new version of this element. I'd like to remove the bower since Polymer 3 has been released long while ago and I had worked on a PR that rebuilds the entire element with `LitElement` to make it a better datepicker for the community. If I got a chance to do it, I'd like the element to

[2018-11-19 15:01] jordanfinners commented on #112
Are you still looking for help upgrading this to Polymer 3? :)

[2018-11-20 02:53] motss commented on #112
@jordanfinners It has been planned for `lit-element`.

[2018-11-20 19:17] jordanfinners commented on #112
Okay @motss :) wasn't sure if you wanted me to upgrade to 3, while waiting for lit 1.0.0

[2018-11-21 05:20] motss commented on #112
@jordanfinners I mean, why not. Feel free to submit a PR.

[2018-11-23 15:36] jordanfinners commented on #112
Opened PR https://github.com/motss/app-datepicker/pull/125

[2018-11-27 20:20] rachelmrgls commented on #13
The year selection works great, as does increment and decrement month, and traversing through enabled days, but actually selecting the hovered day of the month isnt accessible. Is this a known problem?

[2018-12-04 23:56] motss commented on #112
Fixed in #125

[2018-12-04 23:56] #112 closed

[2018-12-18 13:59] motss commented on #64
For those folks who'd want to try something new out, feel free to take a look at the latest branch I've been working on that addresses this as part of the new rewrite with `lit-html` - https://github.com/motss/app-datepicker/tree/lit-element-v1

[2018-12-18 14:00] motss commented on #10
https://github.com/motss/app-datepicker/tree/lit-element-v1 is the latest branch with `lit-html` 1.0 RC and addressing many of the issues listed here.

[2019-01-15 14:54] motss opened #127 "lit-element v1 build"
## Checklist

- [x] To add focus management when datepicker opens. Applies to plain, backdrop, and modal dialogs.
- [x] To update keyboard support to not go beyond allowable (or disabled) date range.
- [x] To implement min, max, adjust _currentDate if min is smaller than value (selectedDate), hide or show chevrons according to the value of min and max, to disable scrolling in year list view if nec

[2019-01-28 15:22] motss opened #128 "Bugs I experienced and useful stuff I learnt while building the element"
# Description

There are indeed a lot of fun things I myself experienced and some really driving me crazy because of the inconsistent implementation on different browsers including all old and modern browsers. If one implemented anything that does not follow the specs and happened to ship it to stable release in the browser, the bug is there forever as not all users will upgrade to the latest vers

[2019-01-30 08:21] #127 closed

[2019-03-29 12:01] motss opened #138 "[polymer-cli] Polymer CLI fails to run tests on CircleCI"
## Critical roadblocks

- https://github.com/Polymer/tools/issues/3390 - Unable to run tests with Selenium on Firefox.

## Other related issues

- https://github.com/Polymer/tools/issues/3387 - `socket.io` fails miserably from time to time.

[2019-04-15 21:00] btopro opened #143 "Why is node 10.x.x required for this?"
when installing "app-datepicker": "^3.0.0", in my own package it no longer allows it to work unless I update to node 10.

Is there a reason why you've required node 10+ via package.json here?

[2019-04-17 15:24] motss commented on #143
@btopro

Hi. Thanks for asking this.

We're using `node@10` when migrating to Polymer 3. If not mistaken, `node@10` is the latest LTS at that time. So we're recommending `node@10`.

I think `node@8` should work since the tests passed for `node@8`, `node@10`, and `node@11`.

[2019-04-17 15:26] motss commented on #143
If that's the case, I can take a look at that to see if `node@8` works without any issues. If no, it can be changed to `node@8`.

May I know which version of `node@8` you are using now?

[2019-04-17 15:35] btopro commented on #143
i was using 8, updated to 10 as part of this; just wasn't really sure why this was in there in the first place. Seems like something that should be left to the test engine but I just haven't included that ever anywhere before.

[2019-04-18 01:47] motss commented on #143
It's mainly for development purpose. Since we need Node.js to build the script and run tests, the `engines` field in `package.json` is set to be consistent for contributors. It has nothing to do with the element itself since the element runs on browser environment.

[2019-04-18 12:40] motss commented on #143
It's fixed in latest version `v3.1.0`.

[2019-04-18 12:40] #143 closed

[2019-04-18 13:37] motss opened #146 "To test on new GRE possibly based on M69"
To test on Chrome 69 for new GRE according to this [tweet][].

[tweet]: https://www.deepcrawl.com/blog/news/what-version-of-chrome-is-google-actually-using-for-rendering/

[2019-04-18 13:46] #146 closed

[2019-04-30 07:14] LRagji opened #149 "Not working as per documentation:"
### Description
I am using https://unpkg.com/app-datepicker@3.1.0/app-datepicker.js when i render the element and select it using chrome inspect it is missing lot of properties mentioned in the documentation Eg:landscape, value etc what am i missing?

[2019-04-30 07:26] motss commented on #149
@LRagji Are you using the doc from https://github.com/motss/app-datepicker/blob/master/api-references.md#appdatepicker? If yes, that is documentation for `v4.0.0-rc.19`.

For `v3.x`, please refer to https://motss.github.io/app-datepicker/components/app-datepicker/.

[2019-05-02 14:25] motss commented on #149
Closing this issue as it is assumed to be resolved.

[2019-05-02 14:25] #149 closed

[2019-05-14 05:20] motss opened #151 ".day is a translated date when locale is not en-US"
https://github.com/motss/app-datepicker/blob/de891e3beb1861bc7fb8f25d03bae04c88d337d1/src/app-datepicker.ts#L960

[2019-05-14 05:25] motss commented on #151
There is a `fullDate` property available for each date element in the table. So the `_focusedDate` can be set to the defined value:

[code]

[2019-05-15 15:26] #151 closed

[2019-06-04 13:18] motss opened #152 "Move demo away from Glitch due to slow cold boot"

[2019-06-16 10:37] #152 closed

[2019-07-03 16:28] kaseyhinton opened #154 "IE 11 - Date Picker does not show up on the page"
### Description
The `app-datepicker` element wont work in IE 11. It throws a type error

 TypeError: Unable to get property 'toString' of undefined or null reference at AppDatepicker (http://localhost:3000/node_modules/app-datepicker/dist/app-datepicker.js:230:7)

### Expected outcome
Date picker should show up and work in IE 11

### Actual outcome
Date picker not showing in IE 11 due to type erro

[2019-07-04 02:18] motss commented on #154
Which version of the datepicker are you using?

I actually have a demo at https://github.com/motss/app-datepicker/blob/master/README.md#demo. Does it work for you?

In the meantime, I'll take a look when I have my laptop with me.

[2019-07-05 02:50] motss commented on #154
@kaseyhinton Do you have got tht time to work on a reduced test case? I've checked it on my side and it works on IE11 without any issue except for the animation glitch which was caused by Web Animations  polyfill. I might plan to remove animations completely on older browsers.

[2019-07-08 22:39] kaseyhinton commented on #154
@motss The demo you have provided works for me in IE 11. I will try to set up a demonstration of the bug I am seeing. As far as the version is concerned I installed the latest available at the time. RC 24 I believe.

[2019-07-08 23:15] kaseyhinton commented on #154
@motss Here is a repo I made that can reproduce the problem I am seeing. [demo](https://github.com/kaseyhinton/app-datepicker-demo)

I tried to set up an example online but am having difficulty because codesandbox and codepen aren't working in IE-11 unfortunately.

[2019-07-09 07:44] motss commented on #154
Errors are due to missing polyfills on IE11. It was mentioned inside the demo but not the docs.

https://github.com/motss/app-datepicker/blob/master/index.html#L19-L43

The line above is what you need to run the datepicker.

[2019-07-09 07:45] motss commented on #154
For some reasons, the website does not work well on IE11. You still be able to view the actual site though. The trick is to wake the server up in supported browsers such as Chrome and visit the link again with IE11.

I've ensured that the demo site works on all browsers including IE11.

[2019-07-09 12:55] kaseyhinton commented on #154
Ahh okay. Yeah it's working with the polyfills now. Thanks for getting back to me so promptly. This date picker will work really well for me! :)

[2019-07-09 12:55] #154 closed

[2019-07-09 14:07] motss commented on #154
Glad to hear that it finally works for you. Feel free to open any issues you encounter. Thank you for supporting! 😄

[2019-08-17 13:03] CartmanErik opened #157 "Uncaught (in promise) TypeError: Cannot read property 'addEventListener' of null at new Tracker (tracker.ts:91) at HTMLElement.updated (app-datepicker.ts:671)"
### Description
Have a problem with app-datepicker. Calendar doesn't show up. Instead of it I have some class in calendar window as text. Part of this class:
...
{ if (!(part instanceof NodePart)) { throw new Error('cache can only be used in text bindings'); } let templateCache = templateCaches.get(part); if (templateCache ...

In console I have errors:
Uncaught (in promise) TypeError: Cannot read

[2019-08-24 12:22] motss commented on #157
Do you have a reduced test case for this problem? What's the version of `lit-element` you are using?

[2019-09-02 12:55] CartmanErik commented on #157
"lit-element": "^2.2.0",
    "lit-html": "^1.1.0"
To be honest I don't know how to reproduce test case. It works for some people but doesn't work for other. I tried to use previous version of datepicker and it works as it should. But v4 doesn't work for me.

[2019-09-02 15:31] motss commented on #157
Thank you for the response. I'll keep this opened for a while and see if that happens again before closing this.

[2019-09-18 17:03] kaseyhinton commented on #157
I was getting this problem too for a minute. I was using the newest chrome, lit, and app-datepicker. Once I restarted my node server this error went away and the datepicker started functioning as normal

[2019-09-18 18:11] kaseyhinton opened #160 "Switching months causes unexpected behavior in edge"
### Description
Changing months in edge causes the app-datepicker to behave strangely. Clicking next moves me september -> november. Clicking back to the previous month then takes me to a blank calendar.

[code]

[code]

### Expected outcome
The month progresses in proper order on click or drag forward and backward.

### Actual outcome
The next month will occasionally get skipped and going backwar

[2019-09-30 15:12] motss commented on #160
@kaseyhinton First of all, thanks for reporting this bug happening on MS Edge. Was on vacation for the past few weeks. I'll take a look into this critical bug. I reckon this is caused by the Web Animation polyfill but need to dive deeper to find out the root cause.

[2019-10-02 07:18] motss opened #161 "To update app-datepicker according to latest behavior of datepicker in Android 10"
## TO-DO

* [x] When navigate between months by clicking on arrow buttons, the calendar no longer animates to swipe to left or right. The current calendar basically re-renders with new values.
* [x] To support dark theme based on system default with `prefer-color-sheme`.
* [x] The datepicker comes with a `CLEAR` button and `OK` button is now `SET` button (e511de5
)

[2019-10-08 19:18] LGTM-badger opened #162 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-19 06:22] motss commented on #157
This should have been resolved by this e3cc4494917cfc2f0e30d0ee5792b0b2832638ed commit. Please give it a try and see if that resolves on your side.

[2019-10-21 11:25] #162 closed

[2020-01-13 15:59] motss commented on #157
Closing this

[2020-01-13 15:59] #157 closed

[2020-01-13 15:59] motss commented on #160
@kaseyhinton Sorry for the delay. This should have been fixed in latest release.

[2020-01-13 16:00] motss commented on #160
Closing this.

[2020-01-13 16:00] #160 closed

[2020-01-13 16:00] motss commented on #138
This is no longer relevant as the project has migrated over to use `webdriverio` for testing as of 495607a7f2da4952950aa0082f977565e0648d24.

[2020-01-13 16:00] #138 closed

[2020-01-21 12:18] torendo commented on #119
Right now it can be achieved like this:
[code]

[2020-01-23 05:00] gdevacc12 opened #165 "Event on select date updated"
### Description
It would be very useful to be able to handle an event on: change of the selected date.
Forgive my ignorance but is not clear if this event is defined or how to handle it.
Perhaps it's just documentation or perhaps the dispatch for custom event could be added.
I could see some reference to DatepickerValueUpdatedEvent in app-datepicker.d.ts  but no corresponding dispatched event in a

[2020-01-23 05:17] motss commented on #165
This sounds like a useful use case. This can be considered as a new feature.

[2020-02-02 15:47] #165 closed

[2020-02-02 15:49] motss commented on #165
In cace473, a new event `datepicker-value-updated` has been added. It will take care of mouse clicks and keypress with some payload to identify what kind of source triggers the event. The doc will be updated soon before a new release is out.

Thanks for the issue. 👍

[2020-02-02 16:51] gdevacc12 opened #166 "Recommended performance improvement"
### Description
The Google Chrome browser warns (console) about a performance hit with non-passive event listeners. It points to tracker.js.
A recommendation for improvement is documented here: [passive-event-listeners](https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners)

### Modifications tested
My apologies, I didn't have much time to look at this but to quickly te

[2020-02-03 08:27] motss commented on #166
It seems like redundant to use `ev.preventDefault()`. I'll take a look at this.

[2020-02-03 15:09] motss commented on #165
📦  [v4.0.0-rc.41](c12446832110e17a71e30462e579535c5dae69cb) released! 🎉

[2020-02-05 15:02] motss commented on #119
@rachelmrgls @torendo

I recently encountered such use case in a real project and never thought that it was even a thing. After spending days of pondering on that (and I know it has been almost 2 years), I've decided to introduce inline mode rendering for `<app-datepicker` by adding a new `inline` property in c81640cd668024472940eac0e9eb660ef1918f2d for `v4`.

It might not even get implemented in

[2020-02-05 15:02] #119 closed

[2020-02-07 15:01] #166 closed

[2020-02-07 15:04] motss commented on #115
Closing this in favor of `v4`. Please consider `v4` even if you are using `polymer`. Thank you for the support.

[2020-02-07 15:04] #115 closed

[2020-02-07 15:06] motss commented on #64
Closing this in favor of official support of week numbers in `v4`.

Highly recommend using `v4` which is still currently in beta.

Thank you for the support.

[2020-02-07 15:06] #64 closed

[2020-02-07 15:06] motss commented on #124
Closing this as this is not under consideration.

[2020-02-07 15:06] #124 closed

[2020-02-07 15:06] motss commented on #113
Closing this due to no response.

[2020-02-07 15:06] #113 closed

[2020-02-07 15:08] motss commented on #122
Closing this in favor of `v4`. Highly recommend using `v4` even if you are using `polymer`.

Thank you for the support.

[2020-02-07 15:08] #122 closed

[2020-02-07 15:08] motss commented on #69
Closing this in favor of `v4`. Highly recommend using `v4` even if you are using `polymer`.

Thank you for the support.

[2020-02-07 15:08] #69 closed

[2020-02-07 15:08] motss commented on #59
Closing this in favor of `v4`. Highly recommend using `v4` even if you are using `polymer`.

Thank you for the support.

[2020-02-07 15:08] #59 closed

[2020-02-07 15:09] motss commented on #116
Closing this in favor of `v4`. Highly recommend using `v4` even if you are using `polymer`.

Thank you for the support.

[2020-02-07 15:09] #116 closed

[2020-02-07 15:12] motss commented on #109
Closing this in favor of `v4`. Highly recommend using `v4` even if you are using `polymer`.

Thank you for the support.

[2020-02-07 15:12] #109 closed

[2020-02-13 07:07] cintaccs commented on #10
would it be possible to implement a simple month picker - similar to year picker - allowing quick jump to months ahead of current instead of clicking clicking clicking...?

[2020-02-13 07:10] cintaccs commented on #10
actually anything from here:
https://material.io/components/pickers/#desktop-pickers

[2020-02-13 07:46] motss commented on #10
MD has a relatively new specs for the pickers and it is quite comprehensive for authors to implement it now. The goal is to implement according to the specs in terms of UI/ UX.

I already have to work on `v5` once `v4` goes stable.

[2020-02-14 13:30] motss opened #167 "Stable release for v4.0.0"
### TO-DO list

### Done

* [x] Jumping table caption in Safari. See [Webkit bug]. (cb122ab)
* [x] `disabledDays` disables dates that do not fall in the defined weekdays.
* [x] No autofocus when first render. User can choose to focus on the first focusable element by listening to `datepicker-first-update` event. (200d0f0)
* [x] `tabindex` does not update accordingly to focused date
* [x] Update de

[2020-02-15 12:09] motss commented on #161
All resolved!

[2020-02-15 12:09] #161 closed

[2020-02-16 13:07] cintaccs opened #168 "blue rectangle on focus"
### Description

The date picker shows a blue rectangle on focus.
Is it possible to get rid of that?

[2020-02-16 13:27] cintaccs opened #169 "day numbers not exactly centered in day circle"
### Description

The day numbers are not 100% centered - they are a little to the left in most cases. Any method to make them 100% centered in the picker circle?

[2020-02-16 13:29] cintaccs opened #170 "highlight when hovering the year to indicate that it can be selected"
### Description

similar to the hover on days

[2020-02-16 14:06] motss commented on #168
For accessibility reason, you should not do that. I don't recommend you to do that but you can set `outline: none` for all focusable elements. You can however override `static get styles() { ... }` by extending `AppDatepicker`, see [simple demo].

Hope this helps. 😄

[simple demo]: https://jsbin.com/kexigeyogi/edit?html,output

[2020-02-16 14:06] #168 closed

[2020-02-16 14:07] motss commented on #169
@cintaccs Do you mind sharing a screenshot or some sort?

[2020-02-16 14:08] motss commented on #170
This sounds like an enhancement. Good to know that.

[2020-02-16 15:33] cintaccs commented on #169
<img width="239" alt="Screenshot 2020-02-16 at 16 28 02" src="https://user-images.githubusercontent.com/4300051/74607453-5442a300-50d9-11ea-8db2-9c624a3b6887.png">
<img width="310" alt="Screenshot 2020-02-16 at 16 27 49" src="https://user-images.githubusercontent.com/4300051/74607457-56a4fd00-50d9-11ea-8252-8c6f639d6da1.png">

I am using it embedded in
[code]

currently I am writing the mdc-dialog

[2020-02-16 15:35] cintaccs commented on #168
Thanks a lot for quick response! as well as the demo! I will try with that. In general I don't think the MDC components implements outline - in any case - it will always be a taste question - and in all cases it should be something the end users will decide / change / color theme etc.

[2020-02-16 15:39] cintaccs commented on #168
Works great! Thanks a lot!

[2020-02-16 15:41] cintaccs opened #171 "when dragging pages - hide the < > buttons during the drag operation"
### Description

when dragging swiping month to month - the buttons have no effect and they actually looks bad on top of the moving month name + year. At least give it a try and see whether you agree.

[2020-02-16 15:46] cintaccs opened #172 "when using some locales (like Danish) . are entered after the days in the calendar view"
<img width="1121" alt="Screenshot 2020-02-16 at 16 43 19" src="https://user-images.githubusercontent.com/4300051/74607746-979e1100-50db-11ea-9b13-181d616919f5.png">

at least in Denmark where I am from - we do not show . after each day in the calendar.
Maybe that also relates to the small issue with centering #169

[2020-02-16 15:48] motss commented on #171
I decided not to have any effect on the buttons after seeing that it does not affect much on basically anything and we can still live without that. This might complicate the code a little bit. Plus, no clear specification on that as well even though we could see that on Android date picker.

Hope you understand that.

[2020-02-16 15:48] #171 closed

[2020-02-16 15:49] motss commented on #169
Is that latest Chrome?

[2020-02-16 15:49] cintaccs commented on #169
Version 80.0.3987.106 (Official Build) (64-bit)

[2020-02-16 15:50] motss commented on #172
Cool. I'll take a look on this.

[2020-02-16 15:53] cintaccs commented on #171
Understood ... I guess I can implement own opacity or visibility on drag operation events... would just be a simple thing for you to add a "is-dragging" class on the top container allowing for free sub-element styling. IMO you should try not to make too many of these static "taste" decisions as it will be "opinionated" (I think Google uses that expression a lot).

[2020-02-16 16:07] motss commented on #170
Looks like it was actually a bug. I've already supported that but with an invalid CSS custom property name and it has been renamed to use `--app-datepicker-focused-year-bg-color` for customization.

[2020-02-16 16:09] cintaccs opened #173 "for inspiration - scrollbars"
### Description

I used

[code]

to get rid of the web effect of the scroll bars. I know it is only webkit / chrome / edge .. but ...

[2020-02-16 16:11] #170 closed

[2020-02-16 16:12] motss commented on #173
Does it cover the UI on other OSes like Linux and Windows? I've yet to try this.

[2020-02-16 16:12] cintaccs commented on #170
I am trying this
   .calendars-container {
            --app-datepicker-focused-year-bg-color:  #f44336;
          --app-datepicker-accent-color: #f44336;
        }

the           --app-datepicker-accent-color: #f44336; have effect (on the days)
the --app-datepicker-focused-year-bg-color:  #f44336; have no effect on the year selector

[2020-02-16 16:15] cintaccs commented on #173
no it is ignored on FF e.g.
<img width="320" alt="Screenshot 2020-02-16 at 17 13 39" src="https://user-images.githubusercontent.com/4300051/74608230-b9999280-50df-11ea-81a5-21ccb13e6330.png">

and in chrome

<img width="322" alt="Screenshot 2020-02-16 at 17 13 55" src="https://user-images.githubusercontent.com/4300051/74608236-c322fa80-50df-11ea-984e-bb9b63e54104.png">

again the coloring can be d

[2020-02-16 16:26] cintaccs commented on #170
just to make sure we talk about the same hover ... I am talking about the year on top of the date picker - hovering the year lines in the scroll list works. Although I didn't try setting the hovering color.

[2020-02-16 16:29] cintaccs commented on #171
Actually it is hard to get to that drag operation through css settings alone... so if you one day feel excited about adding a top class to the container during drag operation (and remove it again at drag end) - then that would be great....

[2020-02-16 16:33] cintaccs opened #174 "when going crazy with the mouse"
### Description
my users do that ... then you can end up with a dragged element on a page that is dragged away. It is a little hard to reproduce but I have done it a few times now. Basically drag + drop / swip quickly at the edge of the calendar I guess. The end result is that you will be in drag state even after having released the mouse (i.e. you can move the mouse back and forward without mouse

[2020-02-16 16:34] cintaccs commented on #174
It goes back to normal when clicking on a day again.

[2020-02-16 16:37] cintaccs commented on #174
<img width="328" alt="Screenshot 2020-02-16 at 17 35 10" src="https://user-images.githubusercontent.com/4300051/74608591-b3f17c00-50e2-11ea-84a0-035b4589c656.png">

I was able to do it again - here is an example of how it could look. when hovering outside the dialog nothing happens - but as soon as I hover inside the container - the pages swipe back and forward - the dragstart must still be set so

[2020-02-16 16:38] cintaccs commented on #174
and it is a good example of where the buttons on top of the month name looks like a UI error. MDC components doesn't do that.

[2020-02-16 22:46] cintaccs commented on #174
ok - I can consistently reproduce. When dragging on a page and you drag over the border to the outside container - then release the mouse - you end up with a state "dragging" inside the container that will move as soon as you hover the mouse over the container again. I think the fix should be that if the mouse pointer is outside the container - then it should release. Maybe it will work onblur of

[2020-02-17 06:27] motss commented on #13
It should not be accessible in `v4` for all days of month. Closing this as of now.

[2020-02-17 06:27] #13 closed

[2020-02-18 13:47] #169 closed

[2020-02-18 13:47] #172 closed

[2020-02-20 02:35] #174 closed

[2020-02-25 14:34] motss opened #175 "Private class fields bug in TypeScript when importHelpers set to true"
### Description
See https://github.com/microsoft/TypeScript/issues/36841 for more details.

[2020-02-26 15:53] motss commented on #173
I decided to add this suggestion to mimic that of Android datepicker's scrollbar.

The following CSS works for all Webkit browsers and modern Firefox:

[code]

[2020-02-26 16:59] #173 closed

[2020-03-06 15:28] motss opened #176 "To bring reset date back to dialog"
See https://github.com/motss/app-datepicker/issues/74.

[2020-03-08 11:12] #176 closed

[2020-03-08 13:56] motss commented on #167
ETA: March 15, 2020

[2020-03-11 08:52] motss commented on #117
@thisisbinh

I've been working on the `v4` and it is planned for a stable release very soon. Would you mind to take another look at the `v4` when you've got the time? Looking forward to hearing from you soon.

[2020-04-02 15:22] motss commented on #167
📦 Released `v4` at 2a66af13acf62231630139b5e7664ac48f13812e. Closing this happily! 👍

[2020-04-02 15:22] #167 closed

[2020-04-30 15:51] gel1os opened #179 "Optionally show dates from previous and next month in table"
Hello, thank you for a great component, it works really well.

I have a suggestion to add possibility to optionally show days from other months in calendar, so there are no empty cells in table.

Thanks!

[2020-05-01 09:40] motss commented on #179
@gel1os First of all, huge thanks for the support. This is one great feature to have in the datepicker but this is unfortunately not part of the specs of a Material Design 2 based datepicker. This might change in `v5` which follows the latest specs.

[2020-05-06 15:30] motss opened #180 "v5"
## TO-DO

* [ ] To implement new DatePicker element from scratch to match new visual in the [updated Material guidelines]. However, in the upcoming major release, the element **only** targets desktop as users are encouraged to use native DatePicker element on mobile OSes via `<input type="date">`
* [ ] To implement RangeDatePicker (**also only targeting for desktops**)

## References

* https://ap

[2020-06-04 16:21] brainlessbadger opened #181 "The field `sideEffects` in package.json is wrongly set to `false`"
### Description
The field `sideEffects` in package.json file is set to false, while main file is only imported for sideEffects (it defines a customElement).

### Expected outcome
The field `sideEffects` should be `true`, since the file is imported for it's side effects (and in fact, doesn't seem to export anything).

### Actual outcome
The field `sideEffects` is set to `false`

### Browsers Affect

[2020-06-06 12:03] maartenst opened #182 "custom_typings.js is empty"
### Description
the custom_typings.js file is empty and it makes es-dev-server fail with the following error: Loading failed for the module with source “http://dev.grootvakantiehuis.nl:9000/node_modules/app-datepicker/dist/custom_typings.js”.

### Expected outcome
no failure in loading this module

### Actual outcome
error in console: Loading failed for the module with source “http://dev.grootvaka

[2020-07-24 12:09] nicolasr75 opened #184 "app-datepicker not included by rollup"
I want to use app-datepicker in a lit-element based app and I am using rollup to build my app.

The problem is that rollup does not include app-datepicker in the build even though I have `import 'app-datepicker'` and am using the tag in one of my templates.

When I edit app-datepicker.js to include

`export { customElementsDefine, Datepicker };`

and then in  my code do

`import { customElementsDe

[2020-09-23 04:56] motss commented on #182
Thanks for reporting.

I also use `ev-dev-server` and never encounter such problem. Please find attached the screenshot not showing any error as stated in the ticket.

![Screenshot 2020-09-23 125529](https://user-images.githubusercontent.com/10607759/93968462-38545d80-fd9c-11ea-8ddc-d67b5a615df4.png)

[2020-09-23 04:57] motss commented on #182
Closing this as unable to reproduce

[2020-09-23 04:57] #182 closed

[2020-09-23 05:09] motss commented on #181
That was an experiment back then and it should not be there actually. I've removed that flag in c4b69fef82f36934c40fd6f3073c7ba1727c1854.

This should resolve a lot of bundling issues.

[2020-09-23 05:09] #181 closed

[2020-09-23 05:10] motss commented on #184
@nicolasr75 Thanks for reporting it.

It has been identified that it was indeed caused by an issue mentioned in #181. I've fixed it already and published a new version.

[2020-09-23 05:10] #184 closed

[2020-10-16 14:44] jas1337 opened #187 "The Datepicker calendar container is empty, no dates are displayed"
Hello, at first I have to say that we have been using your datepicker for a while and we appreciate the tool very much.

### Description

Recently we found one special case where no dates are displayed in the datepicker container.
Having min/max date set in datepicker element where max is one day after min, date range is equal exactly 864e5 ms.

![blank_calendar_code](https://user-images.githubuse

[2020-12-11 06:02] brownieboy opened #190 "Empty calendars in RTL mode"
### Description
Calendars are empty in RTL (Right to Left) mode

### Expected outcome
Calendar should display dates, ideally in RTL order

### Actual outcome
Calendar is empty

### Live Demo
Your official demo page at https://motss-app.web.app/demo/app-datepicker.html (see Steps to reproduce).

### Steps to reproduce
1. Go to the official demo page (see link above).
2. Using the browser's dev tool

[2020-12-11 08:26] brownieboy commented on #190
Issue seems to be with the element `<div part="calendars" class="calendars-container has-min-date">`.  It's way off to the left of where it should be when the page is in RTL mode.

The dev tools show this class applied to the element:

[code]

By changing `left: calc(-100%);` to positive, i.e. `left: calc(100%);` the element moved back where it should be, and the calendar worked in RTL mode.  That

[2020-12-11 17:04] motss commented on #190
@brownieboy Thanks for the report about the RTL support.

Due to historical reason, the datepicker element has no RTL support from the outset. To support RTL, this requires changes in CSS, JS that handles swiping animation of the calendar.

PR is totally welcome for RTL support.

[2020-12-12 02:04] brownieboy commented on #190
@motss ,

I can take a look at a PR.   How does one build the project for Dev purposes though?  I couldn't find a Contributing Guide on your repo.

I tried:
[code]
in one terminal, followed by:
[code]
in another terminal.  That one says "es-dev-server started on http://localhost:3000" but my browser finds nothing there.

[2020-12-12 07:19] motss commented on #190
@brownieboy Sorry that there is no contributing guidelines. The basic workflow for development will be as follows:

1. Create an `index.html` and import the element you want
1. You need to terminal tabs to run the following commands at all times:
   1. `npm run watch` - to compile-and-watch the source code
   1. `npm run serve` - to serve the compiled source code
1. To test the code, run `npm t` o

[2020-12-12 07:30] motss opened #192 "To migrate to @web/test-runner"
In year 2020, we should only write and ship code with the latest and greatest features the JS and the web have to offer.

However it does not mean we should not care about backward compatibility for older browsers. The most notorious browser that always brings the most problems to the web (_I'm looking at you, IE11!_) will be deemed deprecated and will no longer be supported by large tech companie

[2020-12-13 07:39] brownieboy commented on #190
PR submitted.

[2021-01-06 01:49] userquin commented on #180
hi @motss, great work, I haven't use it since version 1:

Another change you will need to apply to `app-datepicker` is to prevent page scrolling on keyup events (only on calendar view): for example, go to your [Configurable demo powered by Firebase](https://motss-app.web.app/demo/app-datepicker.html) and increase the screen font size until vertical scroll appears (Crtl ++), then focus a date on th

[2021-01-06 02:13] userquin commented on #180
I also  forget you need to add to all buttons the attribute `type="button"`, this will prevent fire submit if shown inside a form (year, current date and month buttons).

[2021-01-06 02:54] motss commented on #180
Please raise an issue ticket for this.

[2021-01-06 02:54] motss commented on #180
Please raise an issue ticket for this.

[2021-01-06 03:25] userquin opened #195 "Keyboard navigation on calendar view does not prevent page scrolling"
hi @motss, great work, I haven't use it since version 1:

Another change you will need to apply to `app-datepicker` is to prevent page scrolling on keyup events (only on calendar view): for example, go to your [Configurable demo powered by Firebase](https://motss-app.web.app/demo/app-datepicker.html) and increase the screen font size until vertical scroll appears (Crtl ++), then focus a date on th

[2021-01-06 03:27] userquin opened #196 "Prevent buttons fire submit on keyboard/mouse events"
I also  forget you need to add to all buttons the attribute `type="button"`, this will prevent fire submit if shown inside a form (year, current date and month buttons).

_Originally posted by @userquin in https://github.com/motss/app-datepicker/issues/180#issuecomment-755030870_

[2021-01-12 14:50] zenwork opened #197 "latest release of nodemod v2.7.1 breaks datepicker"
### Description
dependency on nodemod@^2.6.1 pulls in version 2.7.0 which results in export errors when using rollup and node-resolve plugin

### Expected outcome
app-datepicker works correctly

### Actual outcome
[code]

### Steps to reproduce
1. Put a `app-datepicker` element in the page.
2. bundle app with rollup and node-resolve plugin

my rolup config:
[code]

### Workaround
If I force the de

[2021-01-12 15:53] motss commented on #197
There is no v2.7.1. Let me look into that.

[2021-01-13 04:25] motss commented on #197
Can you reinstall again? The latest version is now `v2.7.1`.

I've also tried to reproduce the error but failed to get the error message you're experiencing. Do you mind creating a reduced test case in a new Github repo so that I can clone it and run it locally.

[2021-01-16 16:13] #196 closed

[2021-01-17 07:07] motss commented on #197
@zenwork Fixed in 0270ac03b79e8e57b2b2692541c03796a05fd77a.

[2021-01-17 07:07] #197 closed

[2021-02-19 10:32] #190 closed

[2021-03-03 17:03] 3ximus commented on #10
Do you have any plans to implement a month picker ?

[2021-04-12 14:36] avizcaino opened #198 "Invalid starting month when min and max are equal and from not current month"
### Description

When min and max dates are the same, and not in the current month, the calendar is blank, showing no days for the current month.

### Expected outcome

It should navigate to the corresponding month for min and max date.

### Actual outcome

Calendar is blank showing no days.

### Live Demo

![Captura de Pantalla 2021-04-12 a les 16 12 32](https://user-images.githubusercontent.com/

[2021-05-07 19:35] colscott opened #200 "nodemod dependency files not found"
### Description
When building app-datepicker, getting an error along the lines of:
Module not found: Error: Can't resolve 'nodemod/dist/calendar/get-formatter.js' in '...\node_modules\app-datepicker\dist\helpers'

app-datepicker has nodemod ^2.7.2 dependency. When installing, nodemod 2.8.1 is pulled in. It looks like nodemod moved some files around between 2.7.2 and 2.8.1.

Looks like either the f

[2021-05-08 07:42] motss commented on #200
Thanks for the report.

Resolved in ff53ca490260efde28b8cc97412a7a9effda2881.

[2021-05-08 07:42] #200 closed

[2021-06-03 15:41] andresbeltran69 opened #201 "Error "Cannot read property 'getUTCFullYear' of null" after nodemod/calendar.js update."
### Description
Error "Cannot read property 'getUTCFullYear' of null" after nodemod/calendar.js update. app-datepicker not showing.

### Expected outcome
open app-datepicker

### Actual outcome
Error "Cannot read property 'getUTCFullYear' of null" and doesn't show the element.

### Steps to reproduce

1. Put a `app-datepicker` element in the page.
2. Open the page in a web browser.
3. Click the `a

[2021-06-04 15:59] motss commented on #201
Thanks for reporting this. This has been fixed in 9d85e7d642cd872ee483dc3fc0e0bf6cbdb27171.

[2021-06-04 15:59] #201 closed

[2021-11-05 15:10] axho opened #202 "New mwc-button and lit version to use lit 2.0"
TemplateResult error when using lit-element 2.x (app-datepicker + mwc < 0.24) and a Lit 2.0 environment mixed

When is it possible to upgrade to Lit 2.0?

[2021-11-08 14:08] motss commented on #202
@axho Thanks for the issue. Let me work on that.

[2021-11-09 15:21] #202 closed

[2022-01-18 05:43] brownieboy commented on #180
There's a number of helper functions that appear to have been dropped, e.g. `hasClass` and `findShadowTarget`.

Are there alternative methods for what these used to do?

[2022-01-22 11:02] motss commented on #180
In v6, most of the helpers are not needed due to low usage after some rewrite.

I'm assuming you're using some of the helpers in the module. IMHO this is quite risky as they are not meant for public. I'd recommend to either create your own helper functions instead of depending on those 'private' helpers in this module.

[2022-01-23 23:45] brownieboy commented on #180
Thanks for your reply, @motss

Yes, I'd already started copying the functions into our own repo.  I just wanted to check there wasn't some new methods that I was missing.

[2022-04-07 07:23] liaodehui1 opened #211 "Failed to install app-datepicker"
### Description
i use "npm i app-datepicker", but failed to install app-datepicker.
![image](https://user-images.githubusercontent.com/39728398/162143016-1d1802ae-bec3-4f38-a701-c0d04f96c45a.png)

[2022-04-08 13:40] #211 closed

[2022-06-20 10:28] MrJakeBlues opened #212 "Changes are not applied if you don't change the whole date"
### Description
If the date is correct (i.e July 4) but the year is incorrect, the user must change both the year AND the date in order to update the year.  They can then change the date back to the original/correct value, but if only the year is changed, then nothing is saved and the original incorrect value remains.

### Expected outcome
You should be able to change the year only and it should b

[2022-06-20 11:40] motss commented on #212
@MrJakeBlues Thanks for the issue. Could you please add the following missing details for the issue?

1. Version used
1. Component used, preferably with a code snippet
1. Steps for reproduction

[2022-06-28 14:08] MrJakeBlues commented on #212
Hey,
1. Version 5.1
2. Khm... I think it's base behavior. I can see the same on the demo page
3. 1. Change the year only
2. Click outside of calendar
3. The date (year, month, day) stays the same, changes are not applied

[2022-11-17 13:42] mrconsufed opened #213 "Installation problems in windows development environment"
### Description
We'd like to be able to use your component, but encounter problems during install on our windows x64 development machines.

### Expected outcome
yarn install for "app-datepicker": "^6.0.0-rc.30" and its dependencies completes successfully on windows x64 development machines.

### Actual outcome
install fails due to the unix-flavoured definition of the "postinstall" script in app-da

[2022-11-19 08:12] motss commented on #213
@mrconsufed Thanks for reporting this. I'm working on a fix to this.

[2022-11-19 08:48] #213 closed